<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>转运助手 - 物流公司分类</title>
    <meta name="keywords" content="转运助手">
    <meta name="description" content="转运助手">

    <link href="home_url/css/bootstrap.min.css" rel="stylesheet">
    <link href="home_url/css/font-awesome.css-v=4.4.0.css" rel="stylesheet">
    <link href="home_url/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="home_url/css/style.min.css" rel="stylesheet">
    <style type="text/css">
       #xuanze{
        position: absolute;
        z-index: 999;
        opacity: 0;
        width: 80px;
        height: 80px;
        cursor: pointer;
      }
	   .colorBlue {
		   color: #1C89D5;
	   }
	   .bold, .ftblod {
		   font-weight: 700;
	   }
    </style>
	{include file="base:base" /}
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">


                <div class="tabs-container">

	                <div class="tab-content">
	                    <div id="tab-1" class="tab-pane active">
	                        <div class="panel-body">

	                            <div class="ibox-content-del">
				                    <div class="row">
				                        <div class="col-sm-9 m-b-xs">

				                        <a class="btn btn-primary" id="add" href="#" data-toggle="modal" data-target="#myModal1"><i class="fa fa-plus"></i>&nbsp;添加物流分类</a>

				                        </div>

				                    </div>


				                    <div class="table-responsive">
				                        <table class="table table-hover products_table">
											<colgroup>
												<col width="5%">
												<col width="15%">
												<col width="15%">
												<col width="15%">
												<col width="10%">
												<col width="15%">
											</colgroup>
				                            <thead>
				                            <tr>
				                            	<th></th>
				                                <th>物流分类名称</th>
				                                <th>操作</th>
				                            </tr>
				                            </thead>
				                            <tbody>
					                            {foreach name="cate_list" item="vo"}

												<tr>
													<td>
														<input type="checkbox" class="i-checks" name="input[]">
													</td>
													<td class="cate" data-id="{$vo.id}" data-open="0">{notempty name="vo.cate_list"}<span class="colorBlue bold">+　</span>{/notempty}{$vo.name}</td>


													<td>
														<a class="btn btn-primary upd" data-toggle="modal" data-target="#myModal1" data-id="{$vo.id}"  data-name="{$vo.name}"     data-target="#myModal1"><i class="fa fa-plus"></i>&nbsp;编辑</a>
														<button type="button" class="btn btn-default btn-sm" onclick="J_Change(this)" data-item="is_del" data-id="{$vo.id}">删除</button>
													</td>
												</tr>

												{/foreach}
				                            <tr>
				                                <td colspan="8" class="pro_lasttd">
				                                </td>
				                            </tr>
				                            </tbody>
				                        </table>

				                        <div class="text-center">
					                        <div class="btn-group">
					                            {$cate_list->render()}
					                        </div>
					                    </div>

				                    </div>

				                </div>


	                        </div>
	                    </div>


	                </div>


	            </div>


            </div>
        </div>

    </div>
</div>



<div class="modal inmodal" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding: 10px 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>

                <h5 class="model_tit">物流公司分类</h5>


            </div>

            <div class="modal-body modal-prodot-body">

                <div class="model_body">
                	<div class="model_address">

                		<form class="form-horizontal" id="form1">
							<input type="hidden" name="id" value="">
	                        <div class="form-group clearfix">

	                            <label class="col-sm-3 control-label">分类名称</label>
	                            <div class="col-sm-9">

	                                <input type="text" class="form-control" name="level_name" placeholder="请输入分类名称">

	                            </div>
	                        </div>

                        </form>



                	</div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="tj">确定</button>
            </div>
        </div>
    </div>
</div>


<script src="home_url/js/jquery.min.js"></script>
<script src="home_url/js/bootstrap.min.js"></script>
<script src="home_url/js/content.min.js"></script>
<script src="home_url/js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="home_url/js/jquery-form.js"></script>

<script>

	$(".cate").click(function(){
		var _pid    = parseInt($(this).attr('data-id'));
		var _open   = parseInt($(this).attr('data-open'));
		var _parent = $(this).parent().parent();
		if(_pid){
			_open   = _open ? 0 : 1;
			$(this).attr('data-open',_open);
			var txt = _open ? '-　' : '+　';
			$(this).find("span").text(txt)
			_parent.find("tr[class^='subcate_"+_pid+"_']").toggle();
			if (_open == 0) {
				_parent.find("tr[class^='subcate_"+_pid+"_']").find('.cate').attr('data-open', 0);
				_parent.find("tr[class^='subcate_"+_pid+"_']").find("span").text('+　');
				_parent.find(".subcate_"+_pid).hide();
			}
		}
	});

	function J_Change(obj) {
		var post  = {};
		post.id   = $(obj).attr("data-id");
		post.item = $(obj).attr("data-item");
		dialog.showTips("确定要进行操作吗?", "firm", function () {
			$.ajax({
				url: '{:url("Logistics/delCate")}',
				type: "post",
				dataType: "json",
				data: post,
			}).done(function (res) {
				if (res.status == 1) {
					dialog.showTips(res.msg, "", 1);
					return false;
				} else {
					dialog.showTips(res.msg, "warn");
					return false;
				}
			})
		})
	}
$(document).ready(function () {
    $(".checkbox").on('click', function (event) {
			var i = 1;
			$(".checkbox").each(function(){
				if(true != $(this).is(':checked')){
					i = 0;
				}
			});
			if (i == 1) {
				$('td.pro_lasttd input').prop('checked', true);
			} else {
				$('td.pro_lasttd input').prop('checked', false);
			}
		});
		$('td.pro_lasttd input').on('click', function(event){
			if(true == $(this).is(':checked')){
				$('.checkbox').prop('checked', true);
			} else {
				$('.checkbox').prop('checked', false);
			}
		});
});

$("#tj").click(function(){
	var post=$("#form1").serialize();
	console.log(post);
	$.post("{:url('Logistics/addCate')}",post, function (data){
		alert(data.msg);
        if(data.status==1){
          window.location.reload();
        }
      }, "json")
});


$("#xuanze").wrap("<form id='myupload1' action='{:url('Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
$("#xuanze").change(function(){ //选择文件
    $("#myupload1").ajaxSubmit({
        dataType:  'json', //数据格式为json
        beforeSend: function() { //开始上传
            //progress.show(); //显示进度条
            //var percentVal = '0%';
            //percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
            //var percentVal = percentComplete + '%'; //获得进度
            //percent.html(percentVal); //显示上传进度百分比
        },
        success: function(g) { //成功
            var img = '<img src="'+g.data.file_name+'" title="点击更换图片"><input type="hidden" name="img_url" id="head_img" value="'+g.data.file_name+'"></input>';
            $('.xuanze_showimge').html(img);
            //progress.hide();
        },
        error:function(xhr){ //上传失败
            //console.log(xhr.status)
        }
    });
});


$(".upd").click(function(){
	var id=$(this).attr("data-id");
	$("[name='id']").val(id);
	console.log(id);
	var pid=$(this).attr("data-pid");
	/*if(pid==0){
		$("#select option[value='"+id+"']").css("display","none");
	}*/
	$("[name='pid']").val($(this).attr("data-pid"));
	if ($(this).attr("data-img")) {
		$("#img_url").attr("src",$(this).attr("data-img"));
	}else {
		$("#img_url").attr("src","home_url/images/addimg.png");
	}

	$("[name='level_name']").val($(this).attr("data-name"));
	// $("[name='englishname']").val($(this).attr("data-englishname"));
	$("[name='sort']").val($(this).attr("data-sort"));
	$("[name='status']").parent().removeClass('checked');
	$("[name='status'][value='"+$(this).attr("data-status")+"']").parent().click();
	$("[name='status'][value='"+$(this).attr("data-status")+"']").parent().addClass('checked');
});

$("#add").click(function(){
	$("[name='id']").val('0');

	// $("#select option").css("display","");
	$("[name='pid']").val('0');
	$("#img_url").attr("src","home_url/images/addimg.png");
	$("[name='level_name']").val("");
	$("[name='englishname']").val("");
	$("[name='sort']").val("");
	$("[name='status']").parent().removeClass('checked');
	$("[name='status'][value='1']").parent().addClass('checked');
});

</script>

</body>

</html>
