<link href="home_url/css/bootstrap.min.css" rel="stylesheet">
<link href="home_url/css/font-awesome.css-v=4.4.0.css" rel="stylesheet">
<link href="home_url/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="home_url/css/style.min.css" rel="stylesheet">
<style>
    #goods_spec_table1 tr td em.tops {
        position: relative;
        top: -15px;
        left: 35px;
        font-size: 12px;
        cursor: pointer;
    }
    #goods_spec_table1 .mgb20 {
        margin-bottom: 20px;
    }
    #goods_spec_table1 .mgl20 {
        margin-left: 20px;
    }
</style>
<table class="table table-bordered" id="goods_spec_table1">
    <colgroup>
        <col width="20%">
        <col width="80%">
    </colgroup>
    <tr>
        <td ><b >商品规格:</b> </td>
        <td>
            <div class="form-group">

                <div class="col-sm-3">
                    <input type="text" class="form-control spec_name" placeholder="请填写规格名称">
                </div>
                <label class="col-sm-9">
                    <a class="btn btn-primary" onclick="add_spec();"  type="button" data-original-title="保存" ><i class="fa fa-plus"></i>规格</a>

                </label>

            </div>
        </td>
        <td></td>
    </tr>
    {foreach name="specList" item="vo" key="k" }
    <tr data-spec_id="{$vo.id}">
        <td>
            {$vo['name']}:
        </td>
        <td>
            <div class="mgb20">
                {foreach name="vo['spec_item']" item="vo2" key="k2" }
                <button type="button" data-spec_id='{$vo["id"]}' data-item_id='{$k2}' onclick="change_btn(this);" class="btn <?php
                             if(in_array($k2,$items_ids))
                                    echo 'btn-primary';
                             else
                                echo 'btn-default';
                             ?>" >
                    {$vo2}
                </button>

                <span id="item_img_{$k}_{$k2}" >
                {if condition='isset($specImageList[$k2]) and $specImageList[$k2]'}
                    <em class="tops" onclick="del_images(this);">x</em>
                    <img width="35" height="35" src="{:isset($specImageList[$k2])?$specImageList[$k2]:''}" />
                    {/if}
                <input type="hidden" name="item_img[{$k2}]" value="{:isset($specImageList[$k2])?$specImageList[$k2]:''}" />
                 </span>
                <img width="35" height="35" style="cursor: pointer" src="home_url/images/add-button.jpg"  onclick="GetUploadify3('{$k}','{$k2}');"/>
                <a class="btn  btn-danger btn-sm" onclick="del_spec_item(this, {$k2});"  title="" data-toggle="tooltip" type="button" data-original-title="删除属性" ><i class="fa fa-trash-o"></i></a>
                &nbsp;&nbsp;&nbsp;
                {/foreach}
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <input type="text" class="form-control spec_item_name" placeholder="请填写属性名称">
                </div>
                <label class=" col-sm-4">
                    <a class="btn  btn-primary" onclick="add_spec_item(this);"  title="" data-toggle="tooltip" type="button" data-original-title="添加属性" ><i class="fa fa-plus"></i>属性</a>
                    <!--                    <a class="btn btn-primary mgl20" onclick="del_spec_item(this);"  title="" data-toggle="tooltip" type="button" data-original-title="删除属性" >删除属性</a>-->
                </label>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-lg-4">
                    <a class="btn btn-danger btn-sm mgl20" onclick="del_spec(this, {$vo.id});"  type="button" data-original-title="保存" ><i class="fa fa-trash-o"></i></a>
                </div>
            </div>
        </td>
    </tr>
    {/foreach}
</table>
<div id="goods_spec_table2"> <!--ajax 返回 规格对应的库存--> </div>


<input type="file"
       class="file xuanze1"
       multiple="multiple"
       name="upload_pic"
       style="display: none"
       accept="image/jpg,image/jpeg,image/png"
       data-name=""
       data-type="single"
>

<script src="home_url/js/jquery.min.js"></script>
<script>
    var goods_id = "{$goods_id}";
    function add_spec() {
        var name = $('.spec_name').val();
        if (!name) {
            alert('请填写规格名称');
            return false;
        }
        var h = 0;
        $('#goods_spec_table1 tr').each(function () {
            if ($.trim($(this).find('td').eq(0).html()) == name+':') {
                h = 1;
            }
        });
        if (h == 1) {
            alert('规格名称重复');
            return false;
        }


        $.ajax({
            type:'POST',
            data:{'name':name, goods_id:goods_id},
            url:"{:url('Goods/add_spec')}",
            dataType: 'json',
            success:function(g){
                var data = g.data;
                console.log(g);
                var html = '<tr data-spec_id="'+data.spec_id+'">\n' +
                    '<td>' +
                    ''+name+':' +
                    '<input type="hidden" name="spec_info[]" value="'+data.spec_id+'">'+
                    '</td>\n' +
                    '<td>\n' +
                    '<div class="mgb20"></div>'+
                    '<div class="form-group"> ' +
                    '<div class="col-sm-3">' +
                    '<input type="text" class="form-control spec_item_name" placeholder="请填写属性名称">' +
                    '</div>' +
                    '<label class=" col-sm-9">' +
                    '<a class="btn btn-primary" onclick="add_spec_item(this);"  title="" data-toggle="tooltip" type="button" data-original-title="添加属性" ><i class="fa fa-plus"></i>属性</a>' +
                    // '<a class="btn  btn-default btn-sm mgl20" onclick="del_spec_item(this);"  title="" data-toggle="tooltip" type="button" data-original-title="删除属性" >删除属性</a>' +
                    '</label>' +
                    '<td><div class="col-lg-4">\n' +
                    '<a class="btn  btn-danger btn-sm" onclick="del_spec(this, '+data.spec_id+');"  type="button" data-original-title="保存" ><i class="fa fa-trash-o"></i></a>\n' +
                    '</div></td>'+
                    '</div>'+
                    '</td>\n' +
                    '</tr>';
                $('.spec_name').val('');
                $('#goods_spec_table1').append(html);
            }
        });
    }

    function add_spec_item(obj) {
        var item_obj = $(obj).parent().prev().find('.spec_item_name');
        var item_name = item_obj.val();
        console.log(item_obj);
        if (!item_name) {
            alert('请填写属性名称');
            return false;
        }
        var h = 0;
        $(obj).parent().parent().prev().find('button').each(function () {
            if ($.trim($(this).html()) == item_name) {
                h = 1;
            }
        });
        if (h == 1) {
            alert('属性名称重复');
            return false;
        }
        var k = $('#goods_spec_table1 tr').length-1;
        var k2 =  $(obj).parents('.form-group').prev().find('button').length;
        var spec_id = $(obj).parents('tr').attr('data-spec_id');
        // console.log(k2);

        $.ajax({
            type:'POST',
            data:{item_name:item_name, spec_id:spec_id},
            url:"{:url('Goods/add_spec_item')}",
            dataType: 'json',
            success:function(g){
                var html = '<button type="button" data-spec_id=\''+spec_id+'\' data-item_id=\''+g.data.spec_id+'\' class="btn btn-primary" onclick="change_btn(this);">\n' +
                    item_name + '\n' +
                    '</button>\n' +
                    '<span id="item_img_'+ k + '_' +  k2 +'" >\n' +
                    '<input type="hidden" name="item_img['+k2+']" value="" />'+
                    '</span>\n' +
                    '<img width="35" height="35" style="cursor: pointer" src="home_url/images/add-button.jpg"  onclick="GetUploadify3('+k+', '+k2+');"/>\n' +
                    '<a class="btn btn-danger btn-sm" onclick="del_spec_item(this, '+g.data.spec_id+');"  title="" data-toggle="tooltip" type="button" data-original-title="删除属性" ><i class="fa fa-trash-o"></i></a>'+
                    '&nbsp;&nbsp;&nbsp;';
                $(obj).parent().parent().prev().append(html);
                item_obj.val('');
                ajaxGetSpecInput();
            }
        });

    }

    function del_spec(obj, spec_id) {
        /*var name = $('.spec_name').val();
        if (!name) {
            alert('请填写规格名称');
            return false;
        }
        var h = 0;
        var spec_id = 0;
        $('#goods_spec_table1 tr').each(function () {
            if ($.trim($(this).find('td').eq(0).html()) == name+':') {
                spec_id = $(this).attr('data-spec_id');
                $(this).remove();
                h = 1;
            }
        });
        if (h == 0) {
            alert('该规格没有添加');
            return false;
        }*/
        var that = $(obj);
        $.ajax({
            type:'POST',
            data:{spec_id:spec_id},
            url:"{:url('Goods/del_spec')}",
            dataType: 'json',
            success:function(g){
                that.parents('tr').remove();
                ajaxGetSpecInput()
            }
        });
    }
    function del_spec_item(obj, spec_id) {
        /*var item_name = $(obj).parents('.form-group').find('.spec_item_name').val();
        if (!item_name) {
            alert('请填写属性名称');
            return false;
        }
        var h = 0;
        var spec_id = 0;
        $(obj).parents('.form-group').prev().find('button').each(function () {
            if ($.trim($(this).html()) == item_name) {
                spec_id = $(this).attr('data-item_id');
                h = 1;
                $(this).next().remove();
                $(this).next().remove();
                $(this).remove();
            }
        });
        if (h == 0) {
            alert('该属性没有添加');
        }*/
        var that = $(obj);
        $.ajax({
            type:'POST',
            data:{spec_id:spec_id},
            url:"{:url('Goods/del_spec_item')}",
            dataType: 'json',
            success:function(g){
                that.prev().remove();
                that.prev().remove();
                that.prev().remove();
                that.remove();
                ajaxGetSpecInput();
            }
        });
    }
    var key;
    var k2;
    // 上传规格图片
    function GetUploadify3(k, k1){
        key = k;
        k2 = k1;
        $('.xuanze1').click();
    }

    function change_btn(obj)
    {
        if($(obj).hasClass('btn-primary'))
        {
            $(obj).removeClass('btn-primary');
            $(obj).addClass('btn-default');
        }
        else
        {
            $(obj).removeClass('btn-default');
            $(obj).addClass('btn-primary');
        }

        ajaxGetSpecInput();
    }

    // 按钮切换 class
    $("#ajax_spec_data button").click(function(){

    });


    /**
     *  点击商品规格处罚 下面输入框显示
     */
    function ajaxGetSpecInput()
    {
//	  var spec_arr = {1:[1,2]};// 用户选择的规格数组
//	  spec_arr[2] = [3,4];
        var spec_arr = {};// 用户选择的规格数组
        // 选中了哪些属性
        var i = 0;
        $("#goods_spec_table1  button").each(function(){
            if($(this).hasClass('btn-primary'))
            {
                var spec_id = $(this).data('spec_id');
                var item_id = $(this).data('item_id');
                if(!spec_arr.hasOwnProperty(spec_id))
                    spec_arr[spec_id] = [];
                spec_arr[spec_id].push(item_id);
                //console.log(spec_arr);
                i++;
            }
        });
        if (i == 0) {
            $("#goods_spec_table2").html('')
        } else {
            ajaxGetSpecInput2(spec_arr); // 显示下面的输入框
        }
    }


    /**
     * 根据用户选择的不同规格选项
     * 返回 不同的输入框选项
     */
    function ajaxGetSpecInput2(spec_arr)
    {

        var goods_id = "{$goods_id}";

        $.ajax({
            type:'POST',
            data:{'spec_arr':spec_arr},
            url:"/index.php/admin/Goods/ajaxGetSpecInput/goods_id/"+goods_id,
            success:function(data){
                $("#goods_spec_table2").html('')
                $("#goods_spec_table2").append(data);
                hbdyg();  // 合并单元格
            }
        });
    }

    // 合并单元格
    function hbdyg() {
        var tab = document.getElementById("spec_input_tab"); //要合并的tableID
        var maxCol = 2, val, count, start;  //maxCol：合并单元格作用到多少列
        if (tab != null) {
            for (var col = maxCol - 1; col >= 0; col--) {
                count = 1;
                val = "";
                for (var i = 0; i < tab.rows.length; i++) {
                    if (val == tab.rows[i].cells[col].innerHTML) {
                        count++;
                    } else {
                        if (count > 1) { //合并
                            start = i - count;
                            tab.rows[start].cells[col].rowSpan = count;
                            for (var j = start + 1; j < i; j++) {
                                tab.rows[j].cells[col].style.display = "none";
                            }
                            count = 1;
                        }
                        val = tab.rows[i].cells[col].innerHTML;
                    }
                }
                if (count > 1) { //合并，最后几行相同的情况下
                    start = i - count;
                    tab.rows[start].cells[col].rowSpan = count;
                    for (var j = start + 1; j < i; j++) {
                        tab.rows[j].cells[col].style.display = "none";
                    }
                }
            }
        }
    }
</script>

<script src="home_url/js/jquery.min.js"></script>

<script type="text/javascript" src="home_url/js/jquery-form.js"></script>

<script type="text/javascript">
    $(function () {
        /*图片上传*/
        $(".xuanze1").wrap("<form class='myupload' action='{:url('Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
        $(".xuanze1").change(function(){ //选择文件

            var obj = $(this);
            var type = obj.attr('data-type'); // single 单图 multiple 多图
            var xuanze_progress = obj.parents('.form-group').find('.xuanze_progress');
            var xuanze_percent = obj.parents('.form-group').find('.xuanze_percent');
            var xuanze_showimge = obj.parents('.form-group').find('.xuanze_showimge');
            var name = obj.attr('data-name');
            // var key = obj.attr('data-key');
            // var k2 = obj.attr('data-key1');
            obj.parents('.myupload').ajaxSubmit({
                dataType:  'json', //数据格式为json
                beforeSend: function() { //开始上传
                    xuanze_progress.show(); //显示进度条
                    var percentVal = '0%';
                    xuanze_percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%'; //获得进度
                    xuanze_percent.html(percentVal); //显示上传进度百分比
                },
                data:{
                    'type':type,
                },
                success: function(g) { //成功
                    if (g.status == 0) {
                        alert(g.msg);
                        return false;
                    }
                    var file_name = g.data.file_name;
                    if (type == 'multiple') { //多图
                        $.each(file_name, function (index, item) {
                            var img = '<div class="goods_imgs">' +
                                '<img src="'+ item +'" height="80"  class="mgr10 mgt10 ">' +
                                '<input type="hidden" name="'+ name +'[]" class="'+ name +'"  value="'+ item +'">' +
                                '<em class="close" title="移除这张图片" onclick="delImgs(this)">×</em>' +
                                '</div>';

                            xuanze_showimge.append(img);
                        });


                    } else { // 单图
                        var item_img =  $('#item_img_'+key+'_'+k2);
                        /*   item_img.attr('src', file_name);
                           item_img.next().val(file_name);*/
                        var img = '<em class="tops" onclick="del_images(this);">x</em><img width="35" height="35" src="'+file_name+'" />\n' +
                            '<input type="hidden" name="item_img['+k2+']" value="'+file_name+'" />';
                        item_img.html(img);
                    }

                    xuanze_progress.hide();
                },
                error:function(xhr){ //上传失败
                    console.log(xhr.status)
                }
            });
        });

    });

    function del_images(obj) {
        $(obj).next().remove();
        $(obj).next().val('');
        $(obj).remove();
    }
</script>