<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{:getSetting('system.title')} </title>

    <link href="home_url/css/bootstrap.min.css" rel="stylesheet">
    <link href="home_url/css/font-awesome.css-v=4.4.0.css" rel="stylesheet">
    <link href="home_url/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="home_url/css/style.min.css" rel="stylesheet">

    <!--编辑器 1-->
    <script type="text/javascript" charset="utf-8" src="home_url/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="home_url/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="home_url/ueditor/lang/zh-cn/zh-cn.js"></script>
    <!--编辑器 2-->
    <style>
        .contact_mobile_div {
            position: relative;
        }
        .contact_mobile_div a {
            position: relative;top: -34px;left: 33%;
        }
        .control-div {
            padding-top: 7px;
            margin-bottom: 0;
        }
    </style>
</head>
{include file="base:base" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>评价信息</h5>
                </div>
                <div class="ibox-content">
                    <form enctype="multipart/form-data" method="post" id="add_step" class="form-horizontal">



                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单id：</label>

                            <div class="col-sm-9 control-div">
                                <a href="{:url('Order/detail',['order_id'=>$cache['order_id']])}">
                                    <span class="colorBlue">{$cache.order_id}</span>
                                </a>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品名称：</label>

                            <div class="col-sm-9 control-div">
                                <a  href="{:url('Goods/goodsAdd',['id'=>$cache['goods_id']])}">
                                    <span class="colorBlue">{$cache.goods_name}</span>
                                </a>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品图片：</label>

                            <div class="col-sm-9 control-div">
                                <img src="{$cache.goods_logo}" class="ab_img_img" height="80">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">评论者：</label>

                            <div class="col-sm-9 control-div">
                                {eq name="cache.is_virtual" value="0"}
                                <a target='_blank' href="{:url('user/userDetail',array('id'=>$cache['user_id']))}">
                                    <div class="table-item-img" style='border:0;'><img src="{$cache['head_img']}" style='width: 60px;height: 60px;border-radius: 50%;'></div>
                                    <div class="table-item-info">
                                            <span class="colorBlue">昵称：{$cache.nickname} {eq name='$cache.is_name' value='1'}[匿名]{/eq}
                                            <br/>手机号：{$cache.telephone}</span>
                                    </div>
                                </a>
                                {else/}
                                <div class="table-item-img" style='border:0;'><img src="{$cache['virtual_logo']}" style='width: 60px;height: 60px;border-radius: 50%;'></div>
                                <div class="table-item-info">
                                    <a href="javascript:;">[虚拟用户]-{$cache.virtual_name}</a>
                                </div>
                                {/eq}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">评价显示状态：</label>

                            <div class="col-sm-9 control-div">
                                {eq name="cache.is_show" value="0"}
                                不显示
                                {else/}
                                显示
                                {/eq}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">评价星级：</label>

                            <div class="col-sm-9 control-div">
                                {$cache.desc_star} 星
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">评价内容：</label>

                            <div class="col-sm-9 control-div">
                                {$cache.content}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品图片：</label>

                            <div class="col-sm-9 control-div">
                                {foreach name="cache.slide_img" item="vo"}
                                <img src="{$vo.pic}" class="ab_img_img" height="80">
                                {/foreach}
                                {empty name="cache.slide_img"}
                                <span class="fi-help-text">未上传图片</span>
                                {/empty}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">评价时间：</label>

                            <div class="col-sm-9 control-div">
                                {$cache.add_time}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">

                                <a href="javascript:history.back();" class="btn btn-white" type="submit">返回</a>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="home_url/js/jquery.min.js"></script>

<!--拖拽图片排序-->
<link rel="stylesheet" href="home_url/upload_img/uploadImg.css"/>
<link rel="stylesheet" href="home_url/upload_img/jquery.dad.css"/>
<script src="home_url/upload_img/jquery.dad.min.js"></script>
<script language="javascript">
    $('#J_imageView_1').dad({
        draggable: 'img'//拖拽区域
    });
</script>
<!--拖拽图片排序-->
<script src="home_url/js/bootstrap.min.js"></script>
<script src="home_url/js/plugins/peity/jquery.peity.min.js"></script>
<script src="home_url/js/content.min.js"></script>
<script src="home_url/js/plugins/iCheck/icheck.min.js"></script>
<script src="home_url/js/peity-demo.min.js"></script>
<script src="home_url/js/plugins/layer/layer.min.js"></script>

<script>

    $('.link_type_0').click(function(){
        $('.link1').hide();
        $('.link2').hide();
    });
    $('.link_type_1').click(function(){
        $('.link1').show();
        $('.link2').hide();
    });
    $('.link_type_2').click(function(){
        $('.link1').hide();
        $('.link2').show();
    });

    $('.select_goods').click(function(){
        var url = "{:url('Goods/searchGoods')}";
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.8,
            area: ['60%', '60%'],
            content: url,
        });
    });

    // 选择商品返回
    function call_back(goods_id, goods_name)
    {
        $('#goods_name').html(goods_name);
        $('#goods_id').val(goods_id);
        layer.closeAll('iframe');
    }
    $('.save').click(function(){
        var post = $('#add_step').serializeArray();
        $.post("{:url('Content/contentHandle')}",post, function(data){
            if(data.status){
                dialog.showTips(data.msg,"", "{:url('Content/contentList')}");
            }else{
                alert(data.msg);
            }
        }, "json");
        return false;
    });

    UE.getEditor('content');

</script>



<script type="text/javascript" src="home_url/js/jquery-form.js"></script>



<script type="text/javascript">


    $(function () {

        /*图片上传*/
        $(".xuanze").wrap("<form class='myupload' action='{:url('Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
        $(".xuanze").change(function(){ //选择文件

            var obj = $(this);
            var type = obj.attr('data-type'); // single 单图 multiple 多图
            var xuanze_progress = obj.parents('.form-group').find('.xuanze_progress');
            var xuanze_percent = obj.parents('.form-group').find('.xuanze_percent');
            var xuanze_showimge = obj.parents('.form-group').find('.xuanze_showimge');
            var name = obj.attr('data-name');
            obj.parents('.myupload').ajaxSubmit({
                dataType:  'json', //数据格式为json
                beforeSend: function() { //开始上传
                    xuanze_progress.show(); //显示进度条
                    var percentVal = '0%';
                    xuanze_percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%'; //获得进度
                    xuanze_percent.html(percentVal); //显示上传进度百分比
                },
                success: function(g) { //成功
                    if (type == 'multiple') { //多图
                        var img = '<div class="banner_imgs">' +
                            '<img src="'+ g.data.file_name +'" width="150"  class="mgr10 mgt10 ">' +
                            '<input type="hidden" name="'+ name +'[]" class="'+ name +'"  value="'+ g.data.file_name +'">' +
                            '<em class="close" title="移除这张图片" onclick="delImgs(this)">×</em>' +
                            '</div>';

                        xuanze_showimge.append(img);

                        $('#J_imageView_1').dad({
                            draggable: 'img'//拖拽区域
                        });
                    } else { // 单图
                        var img = '<img src="'+ g.data.file_name +'"style="max-width: 100%">' +
                            '<input type="hidden" name="'+ name +'" class="'+name+'" value="'+ g.data.file_name +'">';
                        xuanze_showimge.html(img);
                    }

                    xuanze_progress.hide();
                },
                error:function(xhr){ //上传失败
                    console.log(xhr.status)
                }
            });
        });

    });

    function delImgs(obj){
        $(obj).parent(".banner_imgs").remove();
        $(obj).remove();

    }
</script>
</body>

</html>
