<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{:getSetting('system.title')} </title>

    <link href="home_url/css/bootstrap.min.css" rel="stylesheet">
    <link href="home_url/css/font-awesome.css-v=4.4.0.css" rel="stylesheet">
    <link href="home_url/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="home_url/css/style.min.css" rel="stylesheet">

    <!--编辑器 1-->
    <script type="text/javascript" charset="utf-8" src="home_url/Ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="home_url/Ueditor/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="home_url/Ueditor/lang/zh-cn/zh-cn.js"></script>
    <!--编辑器 2-->
    <style>
        .contact_mobile_div {
            position: relative;
        }
        .contact_mobile_div a {
            position: relative;top: -34px;left: 33%;
        }
    </style>
</head>
{include file="base:base" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> {if condition="$edit_goods.type eq 0"}添加{else/}修改{/if}商品</h5>
                </div>
                <div class="ibox-content">
                    <form enctype="multipart/form-data" method="post" id="add_step"  class="form-horizontal">
                        <div class="form-group" style="display: none;">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>商品ID：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="editid" name="editid" style="width:60%" value="{$edit_goods.id}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>商品名称：</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="goods_name" name="goods_name" style="width:60%" value="{$edit_goods.goods_name}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>商品描述：</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="goods_describe" name="goods_describe" style="width:60%" value="{$edit_goods.goods_describe}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>商品原价：</label>

                            <div class="col-sm-9">
                                <input type="text" oninput="value=value.replace(/[^\d]/g,'')" class="form-control" id="goods_price" name="goods_price" style="width:60%" value="{$edit_goods.goods_price}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>商品售价：</label>
                            <div class="col-sm-9">
                                <input type="text" oninput="value=value.replace(/[^\d]/g,'')" class="form-control" id="goods_oprice" name="goods_oprice" style="width:60%" value="{$edit_goods.goods_oprice}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>商品数量：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="collection_num" name="collection_num" style="width:60%" value="{$edit_goods.collection_num}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>商品排序：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="sort" name="sort" style="width:60%" value="{$edit_goods.sort}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>商品分类：</label>
                            <div class="col-sm-9">
                                <select name='brand' class="input-sm form-control"   id="exampleInputEmail2" style='padding: 5px;width: 60%;'>
                                    <option value='{$edit_goods.cate_id}' style="display: none;">{if condition="$edit_goods.type eq 0"}商品分类{else/}{$edit_goods.name}{/if}</option>
                                    {volist name="cateres" id="cate"}
                                    <option  value="{$cate.id}" style="width:100%;background-color: #EAC06C" >{$cate.name}</option>
                                    <?php foreach($cate['children'] as $k2=>$v2): ?>
                                    <option  value="{$v2.id}"  style="width:70%;">{$v2.name}</option>
                                    <?php endforeach; ?>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style='color:red;'>*</b>商品logo：</label>
                            <div class="col-sm-9">
                                <div class="col-sm-9">
                                    <div class="info_heads">
                                        <input type="file"
                                               class="file xuanze"
                                               name="upload_pic"
                                               style="position: absolute;z-index: 999;opacity: 0;width: 80px;height: 80px;cursor: pointer;"
                                               accept="image/jpg,image/jpeg,image/png"
                                               data-name="express_logo"
                                               data-type="single" >
                                        {empty name="goods_show"}
                                        <img  class='goods_logo' src="home_url/images/addimg.png" />
                                        {/empty}
                                        <div class="xuanze_showimge mgr10" data-nums='15' style="position:relative;" >
                                            <div style='float:left;position:relative;'>
                                                <img src="{$edit_goods.goods_logo}" style="width: 150px;" class="mgr10 mgt10 ">
                                                <input type="hidden" name="express_logo" class="express_logo" value="{$edit_goods.goods_logo}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="xuanze_progress fl mgr15" style="display:none">
                                        <img src="home_url/images/loadings.gif" style="width: 30px;height: 30px;" />
                                        <span class="xuanze_percent">80%</span>
                                    </div>
                                    <div style="clear: both;"></div>
                                    <span class="help-block m-b-none" style="color:red">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style='color:red;'>*</b>商品图集：</label>
                            <div class="col-sm-9">
                                <div class="col-sm-9">
                                    <div class="info_heads">
                                        <input type="file"
                                               class="file xuanze"
                                               name="upload_pic"
                                               style="position: absolute;z-index: 999;opacity: 0;width: 80px;height: 80px;cursor: pointer;"
                                               accept="image/jpg,image/jpeg,image/png"
                                               data-name="multiple_logo"
                                               data-type="multiple" >
                                        {empty name="goods_show"}
                                        <img  class='goods_logo' src="home_url/images/addimg.png" />
                                        {/empty}
                                        <div class="xuanze_showimge mgr10" data-nums='15' style="position:relative;" >
                                            {notempty name="detail_tujilogo"}
                                            {volist name="detail_tujilogo" id="vo"}
                                            <div class="goods_imgs" style='float:left;position:relative;margin-right: 8px;'>
                                                <img src="{$vo.logo}" style="width: 150px;" class="mgr10 mgt10 ">
                                                <input type="hidden" name="multiple_logo" class="multiple_logo" value="{$vo.logo}">
                                                <em class="close" style="float: right;" title="移除这张图片" onclick="delImgs(this)">×</em>
                                            </div>
                                            {/volist}
                                            {/notempty}
                                        </div>
                                    </div>
                                    <div class="xuanze_progress fl mgr15" style="display:none">
                                        <img src="home_url/images/loadings.gif" style="width: 30px;height: 30px;" />
                                        <span class="xuanze_percent">80%</span>
                                    </div>
                                    <div style="clear: both;"></div>
                                    <span class="help-block m-b-none" style="color:red">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style='color:red;'>*</b>商品详情：</label>
                            <div class="col-sm-9">
                                <div class="col-sm-9">
                                    <div class="info_heads">
                                        <input type="file"
                                               class="file xuanze"
                                               name="upload_pic"
                                               style="position: absolute;z-index: 999;opacity: 0;width: 80px;height: 80px;cursor: pointer;"
                                               accept="image/jpg,image/jpeg,image/png"
                                               data-name="detail_logo"
                                               data-type="multiple" >
                                        {empty name="goods_show"}
                                        <img  class='goods_logo' src="home_url/images/addimg.png" />
                                        {/empty}
                                        <div class="xuanze_showimge mgr10" data-nums='15' style="position:relative;" >
                                            {notempty name="detail_xqlogo"}
                                            {volist name="detail_xqlogo" id="vo"}
                                            <div class="goods_imgs" style='float:left;position:relative;margin-right: 8px;'>
                                                <img src="{$vo.logo}" style="width: 150px;"  class="mgr10 mgt10 ">
                                                <input type="hidden" name="detail_logo" class="detail_logo" value="{$vo.logo}">
                                                <em class="close" style="float: right;" title="移除这张图片" onclick="delImgs(this)">×</em>
                                            </div>
                                            {/volist}
                                            {/notempty}
                                        </div>
                                    </div>
                                    <div class="xuanze_progress fl mgr15" style="display:none">
                                        <img src="home_url/images/loadings.gif" style="width: 30px;height: 30px;" />
                                        <span class="xuanze_percent">80%</span>
                                    </div>
                                    <div style="clear: both;"></div>
                                    <span class="help-block m-b-none" style="color:red">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        {empty name="goods_show"}
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="id"  value="">
                                <a href="javascript:history.back();" class="btn btn-white" type="submit">返回</a>
                                <a class="btn btn-primary save" onclick="addproduct()" href="javascript:void(0)" >保存</a>
                            </div>
                        </div>
                        {/empty}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="home_url/js/jquery.min.js"></script>

<!--拖拽图片排序-->
<link rel="stylesheet" href="home_url/upload_img/uploadImg.css"/>
<link rel="stylesheet" href="home_url/upload_img/jquery.dad.css"/>
<script src="home_url/upload_img/jquery.dad.min.js"></script>
<script language="javascript">
    $('#J_imageView_1').dad({
        draggable: 'img'//拖拽区域
    });
</script>
<!--拖拽图片排序-->
<script src="home_url/js/bootstrap.min.js"></script>
<script src="home_url/js/plugins/peity/jquery.peity.min.js"></script>
<script src="home_url/js/content.min.js"></script>
<script src="home_url/js/plugins/iCheck/icheck.min.js"></script>
<script src="home_url/js/peity-demo.min.js"></script>

<script>
    function addproduct(){

        //console.log(goods_name,goods_describe,goods_price,goods_oprice,collection_num,cate,);
        var post = $('#add_step').serializeArray();
        console.log(post);
        $.post("{:url('Goods/save_product')}",post, function(data){

            if(data.status){
                dialog.showTips(data.msg,"", "{:url('Goods/goodsListref')}");
            }else{
                alert(data.msg);
            }
        }, "json");
        return false;
    }
    /*编辑器 1*/
    var ue = UE.getEditor('goods_detail', {
        toolbars: [[
            'fullscreen', 'source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'directionalityltr', 'directionalityrtl', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
            'simpleupload', 'insertimage', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe', 'pagebreak', 'template', 'background', '|',
            'horizontal', 'spechars', 'snapscreen', 'wordimage', '|',
            'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
            'preview', 'searchreplace',
        ]],
        elementPathEnabled: false,
        autoHeightEnabled: false,
        initialFrameHeight: 300,
    });
    /*编辑器 2*/
</script>



<script type="text/javascript" src="home_url/js/jquery-form.js"></script>



<script type="text/javascript">


    $(function () {

        /*图片上传*/
        $(".xuanze").wrap("<form class='myupload' action='{:url('Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
        $(".xuanze").change(function(){ //选择文件

            var obj = $(this);
            var type = obj.attr('data-type'); // single 单图 multiple 多图
            var xuanze_progress = obj.parents('.form-group').find('.xuanze_progress');
            var xuanze_percent = obj.parents('.form-group').find('.xuanze_percent');
            var xuanze_showimge = obj.parents('.form-group').find('.xuanze_showimge');
            var name = obj.attr('data-name');
            obj.parents('.myupload').ajaxSubmit({
                dataType:  'json', //数据格式为json
                beforeSend: function() { //开始上传
                    xuanze_progress.show(); //显示进度条
                    var percentVal = '0%';
                    xuanze_percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%'; //获得进度
                    xuanze_percent.html(percentVal); //显示上传进度百分比
                },
                success: function(g) { //成功
                    if (type == 'multiple') { //多图
                        var img = '<div class="goods_imgs">' +
                            '<img src="'+ g.data.file_name +'" height="80"  class="mgr10 mgt10 ">' +
                            '<input type="hidden" name="'+ name +'[]" class="'+ name +'"  value="'+ g.data.file_name +'">' +
                            '<em class="close" style="float: left;" title="移除这张图片" onclick="delImgs(this)">×</em>' +
                            '</div>';

                        xuanze_showimge.append(img);

                        $('#J_imageView_1').dad({
                            draggable: 'img'//拖拽区域
                        });
                    } else { // 单图
                        var img = '<img src="'+ g.data.file_name +'" height="80">' +
                            '<input type="hidden" name="'+ name +'" class="'+name+'" value="'+ g.data.file_name +'">';
                        xuanze_showimge.html(img);
                    }

                    xuanze_progress.hide();
                },
                error:function(xhr){ //上传失败
                    console.log(xhr.status)
                }
            });
        });

    });

    function delImgs(obj){
        $(obj).parents(".goods_imgs").remove();
        $(obj).remove();

    }
</script>
</body>

</html>
