<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{:getSetting('system.title')} </title>

	<link href="home_url/css/bootstrap.min.css" rel="stylesheet">
	<link href="home_url/css/font-awesome.css-v=4.4.0.css" rel="stylesheet">
	<link href="home_url/css/plugins/iCheck/custom.css" rel="stylesheet">
	<link href="home_url/css/style.min.css" rel="stylesheet">
	<link href="home_url/css/common.css" rel="stylesheet">
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>

{include file="base:base" /}
<body class="gray-bg">
<div id="app" v-cloak>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="tabs-container">
						<ul class="nav nav-tabs">
							<li :class="status == 0? 'active tabs_a fl':'tabs_a fl'" @click="btn_goods(0)">
								<a href="javascript:void(0);" class="active tabs_a fl">全部商品({{pageInfo.count0}})</a>
							</li>
						</ul>
						<div class="tab-content">
							<div id="tab-1" class="tab-pane active">
								<div class="panel-body">

									<div class="ibox-content-del">
										<div class="row">
											<div class="tables-searchbox newcearchbox">
												<form id="app_item">
													<div class="form_left">
														<input type="text" placeholder="商品名称|编码" class="input-sm form-control" name="keyword" value="">
													</div>
													<div class="form_left">
														<input type="text" placeholder="商品ID" class="input-sm form-control" name="id" value="">
													</div>
													<div class="form_left">
														<select name='brand' class="input-sm form-control" style='padding: 5px;'>
															<option value=''>选择品牌系列</option>
															<option  v-for="vo in goods_brand_new" :value='vo.id' v-html="vo.classname">{{vo.classname}}</option>

														</select>
													</div>
													<div class="form_left">
														<select name='cate' class="input-sm form-control" style='padding: 5px;'>
															<option value=''>选择分类</option>
															<option  v-for="vo in goods_cate_new" :value='vo.id' v-html="vo.classname">{{vo.classname}}</option>

														</select>
													</div>
												</form>
												<button class="btn btn-primary input-sm line_h10" @click="msgListView(1, 1)" style="line-height: 15px;"><i class="gicon-search white"></i>查询</button>

												<a href="javascript:void(0);" @click="exportGoods" class="btn btn-primary input-sm line_h10" ><i class="gicon-search white"></i>导出商品</a>
												<!--												<a href="{:url('Goods/goodsAdd')}" class="btn btn-primary input-sm line_h10" ><i class="gicon-search white"></i>添加商品</a>-->
											</div>
										</div>

										<div class="table-responsive">
											<table class="table table-hover products_table">
												<colgroup>
													<col width="5%">
													<col width="5%">
													<col width="10%">
													<col width="10%">
													<col width="10%">
													<col width="10%">
													<col width="10%">
													<col width="10%">
													<col width="10%">
												</colgroup>
												<thead>

												<tr >
													<th></th>
													<th>ID</th>
													<th>商品图片</th>
													<th>商品名称/编码</th>
													<th>价格</th>
													<th>供货价</th>
													<th>库存</th>
													<th>排序</th>
													<th>上架</th>
													<th>状态</th>
													<th>操作</th>
												</tr>
												</thead>
												<tbody>
												<tr  v-for="(vo, key) in goodsList">
													<td>
														<input type="checkbox" class="i-checks checkbox" name="input" :value="vo.id">
													</td>
													<td class='center'>{{vo.id}}</td>
													<td class='center'><img :src="vo.goods_logo" width="50" height='50' style='border-radius: 50%;'></td>
													<td class='center'>{{vo.goods_name}}<br/>{{vo.goods_code}}</td>
													<td class='center'>{{vo.price}}</td>
													<td class='center'>{{vo.cost_price}}</td>
													<td class='center'>{{vo.stores}}</td>
													<td class='center'>{{vo.sort}}</td>
													<td class="center">
														<img width="20" height="20" :src="vo.is_sale==1?'home_url/images/yes.png':'home_url/images/cancel.png'" @click="status_info('is_sale', vo.id, key)"/>
													</td>
													<!--<td v-if="hackReset">
														<a v-if="vo.is_sale == 1" style='color:#0C0;font-size:20px;text-align:center;cursor:pointer;' @click="status_info('is_sale',vo.id, key)" >
															√
														</a>
														<a v-else style='color:#c00;font-size:20px;text-align:center;cursor:pointer;' @click="status_info('is_sale', vo.id, key)" >
															×
														</a>
													</td>-->
													<td>
														<span v-if="vo.is_audit == 1">审核通过</span>
														<span v-if="vo.is_audit == 2">审核驳回</span>
														<span v-if="vo.is_audit == 0">待审核</span>
													</td>
													<td class='center'>
														<a href="javascript:void(0);" class="btn btn-primary j-audit" :data-id="vo.id">审核</a>
														<a :href="'/Goods/goodsDetail?id='+vo.id" class="btn btn-primary upd"><i class="fa fa-eye"></i>预览</a>
														<!--														<a :href="'home_host/Goods/goodsAdd/id/'+vo.id" class="btn btn-primary upd"><i class="fa fa-plus"></i>&nbsp;编辑</a>-->
														<!--														<button type="button" class="btn btn-default btn-sm"  @click="delGoods(vo.id)">删除</button>-->
													</td>
												</tr>
												<tr v-if="goodsList == ''"><td style='text-align:center' colspan='8'>暂无数据</td></tr>
												<!--<tr>
													<td colspan="12" class="pro_lasttd">
														<label ><input type="checkbox" class="i-checks all"  name="inputs" ><span>全选</span></label>

														<div class="pro_table_contro">
															<a href="javascript:void(0);" class="btn btn-primary upd" @click="status_all('is_sale', 1)" >上架</a>
															<a href="javascript:void(0);" class="btn btn-primary upd" @click="status_all('is_sale', 0)" >下架</a>
															<a href="javascript:void(0);" class="btn btn-primary upd" @click="status_all('is_del', 1)" >回收站</a>
															<a href="javascript:void(0);" class="btn btn-primary upd" @click="status_all('is_del', 0)" >移除回收站</a>
															<a href="javascript:void(0);" class="btn btn-default btn-sm" @click="delGoods(0)" >删除</a>
														</div>

													</td>
												</tr>-->
												</tbody>
											</table>

											<div class="text-center">
												<div class="page" v-if="pageInfo.pageCount > 1">
													<navigation  v-if="hackReset" :pages="pageInfo.pageCount" :current="pageInfo.pageCurrent"  @navpage="msgListView"></navigation>
												</div>
											</div>

										</div>

									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true" >
			<div class="modal-dialog">
				<div class="modal-content animated bounceInRight">
					<div class="modal-header" style="padding: 10px 15px;">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
						</button>
						<h5 class="model_tit">商品审核</h5>
					</div>

					<div class="modal-body modal-prodot-body">

						<div class="model_body">
							<div class="model_address">

								<form class="form-horizontal">
									<div class="form-group clearfix">
										<label class="col-sm-2 control-label">审核状态</label>

										<div class="col-sm-9">
											<div class="row">
												<div class="col-sm-8">
													<input type="radio" name="audit_status" v-model="audit_status" checked value="1">同意
													<input type="radio" name="audit_status" v-model="audit_status" value="2">驳回
												</div>
											</div>
										</div>
									</div>

									<div class="form-group clearfix">
										<label class="col-sm-2 control-label">审核意见</label>
										<div class="col-sm-8">
											<textarea class="form-control" id="audit_msg" name="audit_msg" cols="100" rows="4" v-model="audit_msg"></textarea>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-primary audit_submit" >确定</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="home_url/js/jquery.min.js"></script>
<script src="home_url/js/bootstrap.min.js"></script>
<script src="home_url/js/plugins/peity/jquery.peity.min.js"></script>
<script src="home_url/js/content.min.js"></script>
<script src="home_url/js/plugins/iCheck/icheck.min.js"></script>
<script src="home_url/js/peity-demo.min.js"></script>
<script src="home_url/js/plugins/layer/laydate/laydate.js"></script>
<script src="home_url/js/plugins/layer/layer.min.js"></script>
<script type="text/javascript">

	$(document).ready(function () {



		$("._li_b1").click(function(){
			var edit=$(this).parent("._li_btn").siblings("._li_edit");
			$("._li_edit").not(edit).hide();
			edit.toggle();
		})

		function stopPropagation(e) {
			if (e.stopPropagation)
				e.stopPropagation();
			else
				e.cancelBubble = true;
		}
		$(document).bind('click',function(){
			$("._li_edit").hide();
		});

		$("._li_edit").bind('click',function(e){
			stopPropagation(e);
		});
		$("._li_b1").bind('click',function(e){
			stopPropagation(e);
		});


		$("li._li").click(function(){
			$(this).addClass("active").siblings("li._li").removeClass("active");
		})

		$("._tree_top a.pull-right").click(function(){
			$(".-add-box").toggle();
		})
		$(".-add-box .btn-default").click(function(){
			$(".-add-box").hide();
		})

	});

	$("li").click(function(){
		$a=$(this).find("a").attr("href");
		// alert($a);
		if ($a) { window.location=$a; }
	})
</script>

<script src="home_url/js/vue/vue.min.js"></script>
<script src="home_url/js/vue/pagination.js"></script>
<script>
	var Url = window.location.protocol + '//' + window.location.host + '/admin';

	var app = new Vue({
		el: '#app',
		data: {
			goodsList: [],
			goods_cate_new: [],
			goods_brand_new: [],
			pageInfo: {
				pageCurrent: 1, // 当前页
				pageCount: 1, // 总页数
				list_row: 10, // 当前条数
				totalCount:0,
				count0:0,
				count1:0,
				count2:0,
				count3:0,
				count4:0,
			},
			hackReset:true,
			is_button:0,
			status:0,
			is_cost_price:0,
			audit_status:1,
			audit_msg:'',
			goods_id:0,
		},
		created: function(){ //获得初始数据
			var $_this = this;
			var post = {
				type:0,
				list_row: $_this.pageInfo.list_row, //每页数据个数
				page: $_this.pageInfo.pageCurrent, // 当前页

			};
			// $_this.msgListView($_this.list1P.pageNo)
			// $_this.msgListView1($_this.list2P.pageNo)
			$.ajax({
				type: "POST",
				url: Url + '/Goods/goodsList',
				data:post,
				dataType: 'json',
				success: function(data) {
					$_this.goodsList = data.data.list;
					$_this.is_cost_price = data.data.is_cost_price;
					$_this.goods_cate_new = data.data.goods_cate_new;
					$_this.goods_brand_new = data.data.goods_brand_new;
					$_this.pageInfo.pageCount = parseInt(data.data.pageCount) // 获取总页数
					$_this.pageInfo.count0 = parseInt(data.data.count0) //
					$_this.pageInfo.count1 = parseInt(data.data.count1) //
					$_this.pageInfo.count2 = parseInt(data.data.count2) //
					$_this.pageInfo.count3 = parseInt(data.data.count3) //
					$_this.pageInfo.count4 = parseInt(data.data.count4) //
					$_this.$nextTick(function () {
						$_this.audit_function();
						$('.audit_submit').click(function () {
							let audit_msg = $('#audit_msg').val();
							let audit_status = $('input[name="audit_status"]:checked').val();
							let post = {
								audit_status:audit_status,
								audit_msg:audit_msg,
								goods_id:$_this.goods_id,
							};
							$.ajax({
								type:"POST",
								url: Url + '/Goods/goodsAudit',
								data: post,
								dataType:"json",
								success:function(g){
									if (g.status == 1) {
										//console.log($_this.audit_stauts_page());
										$_this.msgListView($_this.audit_stauts_page(), 2);
										alert(g.msg);
										$('#myModal2').hide();
									} else {
										alert(g.msg);
									}
								}
							})
						})
					})
				}
			})
		},
		mounted: function(){
			// 如在这里开始渲染地图!!! initMap()
		},
		methods: {
			audit_stauts_page: function() {
				return this.pageInfo.pageCurrent;
			},
			audit_function: function() {
				var $_this = this;
				$(".checkbox").on('click', function (event) {
					var i = 1;
					$(".checkbox").each(function(){
						if(true != $(this).is(':checked')){
							i = 0;
						}
					});
					if (i == 1) {
						$('td.pro_lasttd input').prop('checked', true);
					} else {
						$('td.pro_lasttd input').prop('checked', false);
					}
				});
				$('td.pro_lasttd input').on('click', function(event){
					if(true == $(this).is(':checked')){
						$('.checkbox').prop('checked', true);
					} else {
						$('.checkbox').prop('checked', false);
					}
				});;
				$('td.pro_lasttd input').on('ifChecked', function(event){
					$('input').iCheck('check');
				});
				$('td.pro_lasttd input').on('ifUnchecked', function(event){
					$('input').iCheck('uncheck');
				});
				$(".j-audit").click(function(){
					$_this.goods_id = $(this).attr('data-id');
					console.log($_this.goods_id );
					$('#myModal2').show();
				});
				$(".close").click(function(){
					//id = $(this).attr("data-id");
					$('#myModal2').hide();
					//$('#albums-overlay').show();
				});

			},
			msgListView: function(pageCurrent, is_button){ //搜索分页数据
				var $_this = this;
				var post = {
					type:0,
					list_row: $_this.pageInfo.list_row, //每页数据个数
					page: pageCurrent, // 当前页
					status:$_this.status,
				};
				$_this.pageInfo.pageCurrent = pageCurrent;			
				if (is_button == 1) {
					$_this.is_button = is_button;
				}
				if ($_this.is_button == 1) {
					post.id = $('input[name="id"]').val();
					post.keyword = $('input[name="keyword"]').val();
					post.cate = $('select[name="cate"]').val();
					post.brand = $('select[name="brand"]').val();
				}
				if ($_this.is_button == 2) {
					post.id = $('input[name="id"]').val();
					post.keyword = $('input[name="keyword"]').val();
					post.cate = $('select[name="cate"]').val();
					post.brand = $('select[name="brand"]').val();
				}
				$.ajax({
					type:"POST",
					url: Url + '/Goods/goodsList',
					data: post,
					dataType:"json",
					success:function(data){
						$_this.goodsList = data.data.list;
						$_this.pageInfo.pageCount = parseInt(data.data.pageCount) // 获取总页数
						$_this.pageInfo.totalCount = parseInt(data.data.totalCount) // 是否显示分页器
						$_this.pageInfo.count0 = parseInt(data.data.count0) //
						$_this.pageInfo.count1 = parseInt(data.data.count1) //
						$_this.pageInfo.count2 = parseInt(data.data.count2) //
						$_this.pageInfo.count3 = parseInt(data.data.count3) //
						$_this.pageInfo.count4 = parseInt(data.data.count4) //
						if (is_button == 1) {
							$_this.hackReset = false;
						}
						$_this.$nextTick(function () {
							if (is_button == 1) {
								$_this.hackReset = true
							}
							$_this.audit_function();
						})
					}
				})
			},
			btn_goods: function(status) {
				var $_this = this;
				$_this.status = status;
				var post = {status:status};
				post.id = $('input[name="id"]').val();
				post.keyword = $('input[name="keyword"]').val();
				post.cate = $('select[name="cate"]').val();
				post.brand = $('select[name="brand"]').val();
				$.ajax({
					type: "POST",
					url: Url + '/Goods/goodsList',
					data: post,
					dataType: "json",
					success: function (data) {
						$_this.goodsList = data.data.list;
						$_this.pageInfo.pageCount = parseInt(data.data.pageCount) // 获取总页数
						$_this.pageInfo.totalCount = parseInt(data.data.totalCount) // 是否显示分页器

						$_this.$nextTick(function () {

							$_this.hackReset = true
							$_this.audit_function();
						})
					}
				});
			},
			delGoods: function (id) { //删除用户
				var $_this = this;
				if(!id){
					$(".checkbox").each(function(){
						if(true == $(this).is(':checked')){
							id += id?"-"+$(this).val():$(this).val();
						}
					});

					if(!id){
						alert('请选择要删除的数据');
						return false;
					}
				}
				dialog.showTips('确定要删除吗？', "firm", function(){

					$.ajax({
						type: "POST",
						url: Url + '/Goods/delGoods',
						data: {
							id: id,
						},
						dataType: "json",
						success: function (res) {
							if (res.status == 1) {
								$_this.$nextTick(function() {
									$_this.msgListView(1,0)
									//window.location.reload();
								})
							} else {
								alert(res.msg);
							}
						}
					});
				})
			},
			status_info: function (item, id, key) {

				var $_this = this;
				$.ajax({
					type:"POST",
					url: Url + '/Goods/goodsStatus',
					data: {id:id, item:item, val:0, type:0},
					dataType:"json",
					success:function(data){
						$_this.goodsList[key][item] = data.data[item];
						$_this.$nextTick(function() {

						})
					}
				})
			},
			exportGoods: function() {
				if (this.goodsList == '') {
					alert('暂无数据');
					return false;
				}
				var status = this.status;
				var url = "{:url('Goods/goodsExport')}?status="+status+"&type=0";
				var id = $('input[name="id"]').val();
				var keyword = $('input[name="keyword"]').val();
				var cate = $('select[name="cate"]').val();
				var brand = $('select[name="brand"]').val();
				if (id) {
					url += '&id='+id;
				}
				if (keyword) {
					url += '&keyword='+keyword;
				}
				if (cate) {
					url += '&cate='+cate;
				}
				if (brand) {
					url += '&brand='+brand;
				}
				window.location.href = url;
			},
			status_all: function (item, val) {
				var type = item+val
				switch (type) {
					case 'is_sale1':
						var text='上架'
						break;
					case 'is_sale0':
						var text='下架'
						break;
					case 'is_del1':
						var text='添加回收站'
						break;
					case 'is_del0':
						var text='移除回收站'
						break;
				}
				var id = '';
				$(".checkbox").each(function(){
					if(true == $(this).is(':checked')){
						id += id?"-"+$(this).val():$(this).val();
					}
				});
				if(!id){
					alert('请选择数据');
					return false;
				}
				var $_this = this;
				$.ajax({
					type:"POST",
					url: Url + '/Goods/goodsStatus',
					data: {id:id, item:item, val:val, type:1},
					dataType:"json",
					success:function(data){
						/*$_this.goodsList.forEach((v, index) => {
									$_this.goodsList[index][item] = val;
								}

						);*/

						//$_this.goodsList[key][item] = data.data[item];
						$_this.$nextTick(function() {
							$_this.msgListView(1,0)
							//window.location.reload();
						})
					}
				})
			},

		}
	})
	function call_back(data) {
		if (data.status == 1) {
			alert('发送成功');
			layer.closeAll('iframe');
		} else {
			alert('发送失败');
		}

	}

</script>
</body>

</html>
