<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{:getSetting('system.title')} </title>

	<link href="home_url/css/bootstrap.min.css" rel="stylesheet">
	<link href="home_url/css/font-awesome.css-v=4.4.0.css" rel="stylesheet">
	<link href="home_url/css/plugins/iCheck/custom.css" rel="stylesheet">
	<link href="home_url/css/style.min.css" rel="stylesheet">

</head>

{include file="base:base" /}
<body class="gray-bg">
<div id="app" v-cloak>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="tabs-container">

						<div class="tab-content">
							<div id="tab-1" class="tab-pane active">
								<div class="panel-body">

									<div class="ibox-content-del">
										<div class="row">
											<!-- <form method="get" action="{:url('Manage/admin/status')}"> -->

											<div class="col-sm-3">
												<!-- <div class="input-group">
                                                    <select name='is_group' class='form-control m-b'>
                                                        <option value='-1'>全部类型</option>
                                                        <option value='1' <eq name='is_group' value='1'>selected</eq>>团购返现</option>
                                                        <option value='3' <eq name='is_group' value='3'>selected</eq>>多人拼团</option>
                                                        <option value='4' <eq name='is_group' value='4'>selected</eq>>限时优惠</option>
                                                    </select>
                                                </div> -->

												<div class="input-group">
													<input type="text" name="keyword" placeholder="请输入管理员名称" class="input-sm form-control" value="">
													<span class="input-group-btn">
			                                        <button type="submit" class="btn btn-sm btn-primary" @click="msgListView(1,1)"> 搜索</button> </span>
												</div>
											</div>

											<a :href="admin_url+'/Manager/managerAdd'" class="btn btn-sm btn-primary">添加管理员</a>
										</div>
										<div class="table-responsive">
											<table class="table table-hover products_table">
												<colgroup>
													<col width="10%">
													<col width="15%">
													<col width="15%">
													<col width="15%">
													<col width="15%">
													<col width="15%">
												</colgroup>
												<thead>

												<tr >
													<th></th>
													<th>ID</th>
													<th>管理员名称</th>
													<th>电话</th>
													<th>分类</th>
													<th>状态</th>
													<th>操作</th>
												</tr>
												</thead>
												<tbody>

												<tr  v-for="(vo, key) in list">
													<td>
														<input v-show="vo.id != 1" type="checkbox" class="i-checks checkbox" name="input" :value="vo.id">
													</td>
													<td>{{vo.id}}</td>
													<td>{{vo.manager_name}}</td>
													<td>{{vo.telephone}}</td>
													<td>{{vo.manager_cate_name}}</td>
													<td class="center">
														<img v-if="manager.id != vo.id" width="20" height="20" :src="vo.status==1?'home_url/images/yes.png':'home_url/images/cancel.png'" @click="changeTableVal(vo.id, key)"/>
													</td>
													<td>
														<a :href="admin_url+'/Manager/managerAdd/manager_id/'+vo.id" class="btn btn-primary"><i class="fa fa-plus"></i>编辑</a>
														<a v-if="manager.id != vo.id" href="javascript:void(0);" class="btn btn-default btn-sm " @click="btn_del(vo.id)">删除</a>
													</td>
												</tr>

												<tr v-if="list == ''"><td style='text-align:center' colspan='6'>暂无数据</td></tr>

												<tr v-if="manager.id == 1">
													<td colspan="12" class="pro_lasttd">
														<label ><input type="checkbox" class="i-checks all"  name="inputs"><span>全选</span></label>

														<div class="pro_table_contro">
															<a href="javascript:void(0);" class="btn btn-default btn-sm " @click="btn_del(0)">删除</a>
														</div>
													</td>
												</tr>

												</tbody>
											</table>

											<div class="text-center">
												<div class="page" v-if="pageInfo.pageCount > 1">
													<navigation  v-show="hackReset" :pages="pageInfo.pageCount" :current="pageInfo.pageCurrent"  @navpage="msgListView"></navigation>
												</div>
											</div>

										</div>

									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script src="home_url/js/jquery.min.js"></script>
<script src="home_url/js/bootstrap.min.js"></script>
<script src="home_url/js/plugins/peity/jquery.peity.min.js"></script>
<script src="home_url/js/content.min.js"></script>
<script src="home_url/js/plugins/iCheck/icheck.min.js"></script>
<script src="home_url/js/peity-demo.min.js"></script>
<script type="text/javascript">
	$("li").click(function(){
		$a=$(this).find("a").attr("href");
		// alert($a);
		if ($a) { window.location=$a; }
	})
</script>

<script src="home_url/js/vue/vue.min.js"></script>
<script src="home_url/js/vue/pagination.js"></script>
<script>
	var Url = window.location.protocol + '//' + window.location.host + '/admin';

	var app = new Vue({
		el: '#app',
		data: {
			list: [],
			pageInfo: {
				pageCurrent: 1, // 当前页
				pageCount: 1, // 总页数
				list_row: 10, // 当前条数
			},
			hackReset:true,
			is_button:0,
			manager:[],
			admin_url:'',
		},
		created: function(){ //获得初始数据
			var $_this = this;
			var post = {
				list_row: $_this.pageInfo.list_row, //每页数据个数
				page: $_this.pageInfo.pageCurrent, // 当前页

			};
			$_this.admin_url = Url;
			// $_this.msgListView($_this.list1P.pageNo)
			// $_this.msgListView1($_this.list2P.pageNo)
			$.ajax({
				type: "POST",
				url: Url + '/Manager/managerList',		
				data:post,
				dataType: 'json',
				success: function(data) {
					$_this.list = data.data.list;
					$_this.manager = data.data.manager;
					$_this.pageInfo.pageCount = parseInt(data.data.pageCount) // 获取总页数
					$_this.pageInfo.totalCount = parseInt(data.data.totalCount) // 是否显示分页器
					$_this.$nextTick(function () {
						$(".checkbox").on('click', function (event) {
			var i = 1;
			$(".checkbox").each(function(){
				if(true != $(this).is(':checked')){
					i = 0;
				}
			});
			if (i == 1) {
				$('td.pro_lasttd input').prop('checked', true);
			} else {
				$('td.pro_lasttd input').prop('checked', false);
			}
		});
		$('td.pro_lasttd input').on('click', function(event){
			if(true == $(this).is(':checked')){
				$('.checkbox').prop('checked', true);
			} else {
				$('.checkbox').prop('checked', false);
			}
		});;
						$('td.pro_lasttd input').on('ifChecked', function(event){
							$('input').iCheck('check');
						});
						$('td.pro_lasttd input').on('ifUnchecked', function(event){
							$('input').iCheck('uncheck');
						});
					})
				}
			})
		},
		mounted: function(){
			// 如在这里开始渲染地图!!! initMap()
		},
		methods: {
			msgListView: function(pageCurrent, is_button){ //搜索分页数据
				var $_this = this;
				var post = {
					list_row: $_this.pageInfo.list_row, //每页数据个数
					page: pageCurrent, // 当前页
				};

				if (is_button == 1) {
					$_this.is_button = is_button;
				}
				if ($_this.is_button == 1) {
					post.keyword = $('input[name="keyword"]').val();
				}
				$.ajax({
					type:"POST",
					url: Url + '/Manager/managerList',
					data: post,
					dataType:"json",
					success:function(data){
						$_this.list = data.data.list;
						$_this.pageInfo.pageCount = parseInt(data.data.pageCount) // 获取总页数
						$_this.pageInfo.totalCount = parseInt(data.data.totalCount) // 是否显示分页器
						if (is_button == 1) {
							$_this.hackReset = false;
							
						}
						$_this.$nextTick(function () {
							if (is_button == 1) {
						
								$_this.hackReset = true
							
						}
							$(".checkbox").on('click', function (event) {
			var i = 1;
			$(".checkbox").each(function(){
				if(true != $(this).is(':checked')){
					i = 0;
				}
			});
			if (i == 1) {
				$('td.pro_lasttd input').prop('checked', true);
			} else {
				$('td.pro_lasttd input').prop('checked', false);
			}
		});
		$('td.pro_lasttd input').on('click', function(event){
			if(true == $(this).is(':checked')){
				$('.checkbox').prop('checked', true);
			} else {
				$('.checkbox').prop('checked', false);
			}
		});;
							$('td.pro_lasttd input').on('ifChecked', function(event){
								$('input').iCheck('check');
							});
							$('td.pro_lasttd input').on('ifUnchecked', function(event){
								$('input').iCheck('uncheck');
							});
						})
					}
				})
			},
			btn_del: function (id) { //删除用户
				if(!id){
					$(".checkbox").each(function(){
						if(true == $(this).is(':checked')){
							id += id?"-"+$(this).val():$(this).val();
						}
					});

					if(!id){
						alert('请选择要删除的数据');
						return false;
					}
				}
				dialog.showTips('确定要删除吗？', "firm", function(){

					$.ajax({
						url: "{:url('Manager/delManager')}",
						type: "post",
						dataType: "json",
						data: {
							id: id,
						}
					}).done(function (res) {
						if (res.status == 1) {
							dialog.showTips(res.msg,"","{:url('Manager/managerList')}");
						} else {
							alert(res.msg);
						}

					})
				})
			},
			// 修改指定表的指定字段值
			changeTableVal: function (id_value, key)
			{
				var that = this;
				var table = 'user';
				var id_name = 'id';
				var field = 'status';
				var value = 1-that.list[key]['status'];
				$.ajax({
					url:"{:url('Index/changeTableVal')}?table="+table+"&id_name="+id_name+"&id_value="+id_value+"&field="+field+'&value='+value,
					success: function(data){
						that.list[key]['status'] = value;
						//$(obj).attr('src',src);
					}
				});
			}

		}
	})


</script>
</body>

</html>
