<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{:getSetting('system.title')} </title>

    <link href="home_url/css/bootstrap.min.css" rel="stylesheet">
    <link href="home_url/css/font-awesome.css-v=4.4.0.css" rel="stylesheet">
    <link href="home_url/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="home_url/css/style.min.css" rel="stylesheet">

    <!--编辑器 1-->
    <script type="text/javascript" charset="utf-8" src="home_url/Ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="home_url/Ueditor/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="home_url/Ueditor/lang/zh-cn/zh-cn.js"></script>
    <!--编辑器 2-->
    <style>
        .contact_mobile_div {
            position: relative;
        }
        .contact_mobile_div a {
            position: relative;top: -34px;left: 33%;
        }
        .form-group div span {
            line-height: 36px;
        }
    </style>
</head>
{include file="base:base" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>修改订单信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="panel-body">
                        <!--表单数据-->
                        <form method="post" action="" id="order-add">
                            <div class="tab-pane">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td>选择用户:</td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-xs-2">
                                                    <a class="btn btn-primary select_user" href="javascript:void(0);"  ><i class="fa fa-search"></i>选择用户</a>
                                                </div>
                                                <div class="col-xs-2">
                                                    <span id="nickname"></span>
                                                    <input type="hidden" name="user_id" id="user_id" value="">
                                                </div>
                                                <div class="col-xs-2">
                                                    <span id="err_user" style="color:#F00; display:none;">请选择用户</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>客户姓名:</td>
                                        <td>
                                            <div class="form-group ">
                                                <div class="col-xs-2">
                                                    <input name="consignee" id="consignee" value="" class="form-control" placeholder="客户姓名" />
                                                </div>
                                                <div class="col-xs-2">
                                                    <span id="err_consignee" style="color:#F00; display:none;">客户姓名不能为空</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>手机:</td>
                                        <td>
                                            <div class="form-group ">
                                                <div class="col-xs-2">
                                                    <input name="telephone" id="telephone" value="" class="form-control" placeholder="收货人联系电话" />
                                                </div>
                                                <div class="col-xs-2">
                                                    <span id="err_mobile" style="color:#F00; display:none;">收货人电话不能为空</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>地址:</td>
                                        <td>
                                            <div class="form-group ">
                                                <div class="col-xs-2">
                                                    <select onchange="get_city(this)" id="province" name="province_id" class="form-control">
                                                        <option value="0">选择省份</option>
                                                        {volist name="province" id="vo"}
                                                        <option value="{$vo.id}">{$vo.name}</option>
                                                        {/volist}
                                                    </select>
                                                </div>
                                                <div class="col-xs-2">
                                                    <select onchange="get_area(this)" id="city" name="city_id" class="form-control">
                                                        <option value="0">选择城市</option>
                                                        {volist name="city" id="vo"}
                                                        <option value="{$vo.id}" </option>
                                                        {/volist}
                                                    </select>
                                                </div>
                                                <div class="col-xs-2">
                                                    <select id="district" name="district_id" class="form-control">
                                                        <option value="0">选择区域</option>
                                                        {volist name="area" id="vo"}
                                                        <option value="{$vo.id}" </option>
                                                        {/volist}
                                                    </select>
                                                </div>
                                                <div class="col-xs-3">
                                                    <input name="place" id="place" value="" class="form-control"   placeholder="详细地址"/>
                                                </div>
                                                <div class="col-xs-2">
                                                    <span id="err_address" style="color:#F00; display:none;">请完善收货地址</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>支付方式</td>
                                        <td>
                                            <div class="form-group ">
                                                <div class="col-xs-2">
                                                    <select id="payment" name="payment"  class="form-control" >
                                                        <option value="1" >支付宝</option>
                                                        <option value="2" >微信</option>
                                                        <option value="3" >银联</option>
                                                        <option value="4" >线下支付</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>添加商品:</td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-xs-2">
                                                    <a class="btn btn-primary select_goods" href="javascript:void(0);"  ><i class="fa fa-search"></i>添加商品</a>
                                                </div>
                                                <div class="col-xs-2">
                                                    <span id="err_goods" style="color:#F00; display:none;">请添加下单商品</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>商品列表:</td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-xs-10">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <td class="text-left">序号</td>
                                                            <td class="text-left">商品名称</td>
                                                            <td class="text-left">商品编码</td>
                                                            <td class="text-left">图片</td>
                                                            <td class="text-left">规格</td>
                                                            <td class="text-left">价格</td>
                                                            <td class="text-left">数量</td>
															<td class="text-left">备注</td>
                                                            <td class="text-left">操作</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="goods_info">
                                                        {foreach name="orderGoods" item="vo"}
                                                        <tr>
                                                            <td class="text-left">{$vo.goods_name}</td>
                                                            <td class="text-left"><img src="{$vo.goods_pic}" width="50"></td>
                                                            <td class="text-left">{$vo.sku_info|default='无'}</td>
                                                            <td class="text-left">{$vo.goods_price}</td>
                                                            <td class="text-left">
                                                                <input type="hidden" name="goods_id[]" rel="{$vo.goods_id}" value="{$vo.goods_id}">
                                                                <input type="hidden" name="sku_id[]" rel="{$vo.sku_id}" value="{$vo.sku_id}">
                                                                <input type="text" class="input-sm" name="goods_num[]" value="{$vo.goods_num}" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')"></td>
                                                            <td class="text-left"><a href="javascript:void(0)" class="btn btn-danger btn-sm" onclick="javascript:$(this).parent().parent().remove();"><i class="fa fa-trash-o"></i></a></td>
                                                        </tr>
                                                        {/foreach}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-10" id="goods_td">

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>管理员备注:</td>
                                        <td>
                                            <div class="form-group ">
                                                <div class="col-xs-4">
                                                    <textarea class="form-control content" style="width:440px; height:150px;" name="remark1"></textarea>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <input type="hidden" name="id" value="">
                            <a href="javascript:history.back();" class="btn btn-white" type="submit">返回</a>
                            <a class="btn btn-primary save" href="javascript:void(0)" >提交</a>
                          <!--  <button class="btn btn-info" type="button" onclick="checkSubmit()">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                保存
                            </button>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="home_url/js/jquery.min.js"></script>

<!--拖拽图片排序-->
<link rel="stylesheet" href="home_url/upload_img/uploadImg.css"/>
<link rel="stylesheet" href="home_url/upload_img/jquery.dad.css"/>
<script src="home_url/upload_img/jquery.dad.min.js"></script>
<script src="home_url/js/plugins/layer/layer.min.js"></script>
<script language="javascript">
    $('#J_imageView_1').dad({
        draggable: 'img'//拖拽区域
    });
</script>
<!--拖拽图片排序-->
<script src="home_url/js/bootstrap.min.js"></script>
<script src="home_url/js/plugins/peity/jquery.peity.min.js"></script>
<script src="home_url/js/content.min.js"></script>
<script src="home_url/js/plugins/iCheck/icheck.min.js"></script>
<script src="home_url/js/peity-demo.min.js"></script>

<script>
    var selected = "";
    var selected1 = "";
    /**
     * 获取城市
     * @param t  省份select对象
     */
    function get_city(t){
        var parent_id = $(t).val();
        if(!parent_id > 0){
            return;
        }

        $('#district').empty().css('display','none');
        $('#twon').empty().css('display','none');
        var url = '{:url("Index/getRegion")}?level=2&parent_id='+ parent_id+'&selected='+selected;
        $.ajax({
            type : "GET",
            url  : url,
            error: function(request) {
                alert("服务器繁忙, 请联系管理员!");
                return;
            },
            success: function(v) {
                selected = 0;
                v = '<option value="0">选择城市</option>'+ v;
                $('#city').empty().html(v);
            }
        });
    }

    /**
     * 获取地区
     * @param t  城市select对象
     */
    function get_area(t){
        var parent_id = $(t).val();
        if(!parent_id > 0){
            return;
        }
        $('#district').empty().css('display','inline');
        $('#twon').empty().css('display','none');
        var url = '{:url("Index/getRegion")}?level=3&parent_id='+ parent_id+'&selected='+selected1;
        $.ajax({
            type : "GET",
            url  : url,
            error: function(request) {
                alert("服务器繁忙, 请联系管理员!");
                return;
            },
            success: function(v) {
                selected1 = 0;
                v = '<option>选择区域</option>'+ v;
                $('#district').empty().html(v);
            }
        });
    }

    $('.select_goods').click(function(){
        var goods_ids = '';
        var sku_ids = '';
        $('#goods_info').find('tr').each(function () {
            var id = $(this).find('input[name="goods_id[]"]').val()
            goods_ids += goods_ids?','+id:id;
            var sku = $(this).find('input[name="sku_id[]"]').val()
            sku_ids += sku_ids?','+sku:sku;
        });
        /*if (count >= 2 && package_cate_id != 0) {
          alert('最多可选择两件产品');
          return false;
        }*/

        //ajax_get_goods_list(post);



        var url = "{:url('Order/searchGoods')}?goods_ids="+goods_ids+"&sku_ids="+sku_ids;
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: url,
        });

    });
    // 选择商品返回
    function call_back(check_obj)
    {
        //console.log(check_obj);
        var goods_info = $('#goods_info');
        var index = goods_info.find('tr').length;
        $.each(check_obj, function(key, val){
            var goods_name = val.goods_name;
            var goods_code = val.goods_code;
            var sku_info = val.sku_info;
            var goods_price =val.goods_price;
            var sku_id = val.sku_id;
            var goods_logo = val.goods_logo;
            var goods_num = val.goods_num;
            var goods_id = val.goods_id;
            var html = ' <tr>\n' +
                '<td class="text-left">'+(key+index+1)+'</td>\n' +
                '<td class="text-left">'+goods_name+'</td>\n' +
                '<td class="text-left">'+goods_code+'</td>\n' +
                '<td class="text-left"><img src="' + goods_logo +'" width="50"></td>\n' +
                '<td class="text-left">'+sku_info+'</td>\n' +
                '<td class="text-left">'+goods_price+'</td>\n' +
                '<td class="text-left">\n' +
                '<input type="hidden" name="goods_id[]" rel="'+goods_id+'" value="'+goods_id+'">\n' +
                '<input type="hidden" name="sku_id[]" rel="'+sku_id+'" value="'+sku_id+'">\n' +
                '<input type="text" class="input-sm" name="goods_num[]" value="'+goods_num+'" onkeyup="checkNum(this)" onpaste="checkNum(this)"></td>\n' +
                '<td class="text-left"><input type="text" class="input-sm" name="goods_remark[]" value=""></td>\n' +
                '<td class="text-left"><a href="javascript:void(0)" class="btn btn-danger btn-sm" onclick="javascript:$(this).parent().parent().remove();"><i class="fa fa-trash-o"></i></a></td>\n' +
                '</tr>';
            goods_info.append(html);
        });
        layer.closeAll('iframe');
    }
    function checkNum(obj) {
        if ($(obj).val()<1) {
            $(obj).val(1);
            return false;
        }
        obj.value = obj.value.replace(/^0*/g, '');//第一个数不能为0 ，若为0替换为空
        obj.value = obj.value.replace(/[^\d]/g, "");//是否是数字 和小数点，若是除数字 和小数点之外的则替换为空
    }
    $('.select_user').click(function () {
        var url = "{:url('User/userSearch')}";
        layer.open({
            type: 2,
            title: '选择用户',
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: url,
        });
    });

    // 选择商品返回
    function user_call_back(check_obj)
    {
        $('#user_id').val(check_obj.user_id);
        $('#nickname').html('用户：' + check_obj.nickname+' <img src="'+check_obj.head_img+'" height="50"/>');
        layer.closeAll('iframe');
    }
    
    $('.save').click(function(){
        $("span[id^='err_']").each(function(){
            $(this).hide();
        });
        ($.trim($('#consignee').val()) == '') && $('#err_consignee').show();
        ($.trim($('#province').val()) == 0) && $('#err_address').show();
        ($.trim($('#city').val()) == 0) && $('#err_address').show();
        ($.trim($('#district').val()) == 0) && $('#err_address').show();
        ($.trim($('#place').val()) == '') && $('#err_address').show();
        ($.trim($('#telephone').val()) == '') && $('#err_mobile').show();
        ($.trim($('#user_id').val()) == '') && $('#err_user').show();
        if(($("input[name^='goods_id']").length ==0) && ($("input[name^='old_goods']").length == 0)){
           $('#err_goods').show();
            // layer.alert('订单中至少要有一个商品', {icon: 2});  // alert('少年,订单中至少要有一个商品');
            return false;
        }
        if($("span[id^='err_']:visible").length > 0 ) {
            return false;
        }
        var id = $('input[name="id"]').val();
        var post = $('#order-add').serializeArray();
        $.post("{:url('Order/addOrder')}",post, function(data){
            if(data.status){
                dialog.showTips(data.msg,"", 1);
            }else{
                alert(data.msg);
            }
        }, "json");
        return false;
    });


    /*编辑器 1*/
    var ue = UE.getEditor('goods_detail', {
        toolbars: [[
            'fullscreen', 'source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'directionalityltr', 'directionalityrtl', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
            'simpleupload', 'insertimage', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe', 'pagebreak', 'template', 'background', '|',
            'horizontal', 'spechars', 'snapscreen', 'wordimage', '|',
            'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
            'preview', 'searchreplace',
        ]],
        elementPathEnabled: false,
        autoHeightEnabled: false,
        initialFrameHeight: 300,
    });
    /*编辑器 2*/
</script>



<script type="text/javascript" src="home_url/js/jquery-form.js"></script>



<script type="text/javascript">


    $(function () {

        /*图片上传*/
        $(".xuanze").wrap("<form class='myupload' action='{:url('Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
        $(".xuanze").change(function(){ //选择文件

            var obj = $(this);
            var type = obj.attr('data-type'); // single 单图 multiple 多图
            var xuanze_progress = obj.parents('.form-group').find('.xuanze_progress');
            var xuanze_percent = obj.parents('.form-group').find('.xuanze_percent');
            var xuanze_showimge = obj.parents('.form-group').find('.xuanze_showimge');
            var name = obj.attr('data-name');
            obj.parents('.myupload').ajaxSubmit({
                dataType:  'json', //数据格式为json
                beforeSend: function() { //开始上传
                    xuanze_progress.show(); //显示进度条
                    var percentVal = '0%';
                    xuanze_percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%'; //获得进度
                    xuanze_percent.html(percentVal); //显示上传进度百分比
                },
                success: function(g) { //成功
                    if (type == 'multiple') { //多图
                        var img = '<div class="goods_imgs">' +
                            '<img src="'+ g.data.file_name +'" height="80"  class="mgr10 mgt10 ">' +
                            '<input type="hidden" name="'+ name +'[]" class="'+ name +'"  value="'+ g.data.file_name +'">' +
                            '<em class="close" title="移除这张图片" onclick="delImgs(this)">×</em>' +
                            '</div>';

                        xuanze_showimge.append(img);

                        $('#J_imageView_1').dad({
                            draggable: 'img'//拖拽区域
                        });
                    } else { // 单图
                        var img = '<img src="'+ g.data.file_name +'" height="80">' +
                            '<input type="hidden" name="'+ name +'" class="'+name+'" value="'+ g.data.file_name +'">';
                        xuanze_showimge.html(img);
                    }

                    xuanze_progress.hide();
                },
                error:function(xhr){ //上传失败
                    console.log(xhr.status)
                }
            });
        });

    });

    function delImgs(obj){
        $(obj).parent(".goods_imgs").remove();
        $(obj).remove();

    }
</script>
</body>

</html>
