<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>悦品荟商城 - 订单</title>
	<meta name="keywords" content="悦品荟商城">
	<meta name="description" content="悦品荟商城">

	<link href="home_url/css/bootstrap.min.css" rel="stylesheet">
	<link href="home_url/css/font-awesome.css-v=4.4.0.css" rel="stylesheet">
	<link href="home_url/css/plugins/iCheck/custom.css" rel="stylesheet">
	<link href="home_url/css/style.min.css" rel="stylesheet">
	{include file="base:base" /}
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li class="{eq name="status" value=""}active{/eq} tabs_a fl">
						<a href="{:url('Order/orderList')}" class="{eq name="status" value=""}active{/eq} tabs_a fl">所有订单({$count|default='0'})</a>
						</li>
						<li class="{eq name="status" value="0"}active{/eq} tabs_a fl">
						<a href="{:url('Order/orderList', ['status' => 0])}" class="{eq name="status" value="0"}active{/eq} tabs_a fl">待付款({$count1|default='0'})</a>
						</li>
						<li class="{eq name="status" value="1"}active{/eq} tabs_a fl">
						<a href="{:url('Order/orderList', ['status' => 1])}" class="{eq name="status" value="1"}active{/eq} tabs_a fl">待发货({$count2|default='0'})</a>
						</li>
						<li class="{eq name="status" value="2"}active{/eq} tabs_a fl">
						<a href="{:url('Order/orderList', ['status' => 2])}" class="{eq name="status" value="2"}active{/eq} tabs_a fl">已发货({$count3|default='0'})</a>
						</li>
						<li class="{eq name="status" value="3"}active{/eq} tabs_a fl">
						<a href="{:url('Order/orderList', ['status' => 3])}" class="{eq name="status" value="3"}active{/eq} tabs_a fl">已签收({$count4|default='0'})</a>
						</li>
						<li class="{eq name="status" value="4"}active{/eq} tabs_a fl">
						<a href="{:url('Order/orderList', ['status' => 4])}" class="{eq name="status" value="4"}active{/eq} tabs_a fl">已完成({$count5|default='0'})</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="row" style="padding-top:20px;background:#fff;margin-left: 0;margin-right: 0;">
							<form method="get" action="" class="form-inline order_search">
								<div class="form-group">
									<label for="exampleInputEmail2" class="sr-only">下单人</label>
									<input type="text" name="name" value="{$name}" placeholder="下单人/收货人/手机号" id="exampleInputEmail2" class="form-control">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword2" class="sr-only">订单号</label>
									<input type="text" name="order_no" value="{$order_no}" placeholder="订单号" id="exampleInputPassword2" class="form-control">
								</div>
								<div class="form-group">
									<select class="form-control" id="select" name="urgent_type">
										<option value="2" >--全部--</option>
										<option value="0" {eq name="0" value="$urgent_type"}selected{/eq}>--普通订单--</option>
										<option value="1" {eq name="1" value="$urgent_type"}selected{/eq}>--加急订单--</option>
									</select>
								</div>
								<div class="form-group">
									<input placeholder="下单起始日期" name="starttime" autocomplete="off" value="{$starttime}" class="form-control layer-date" id="start" style="width:130px" autocomplete="off">
									<input placeholder="下单结束日期" name="endtime" autocomplete="off" value="{$endtime}" class="form-control layer-date" id="end" style="width:130px" autocomplete="off">
								</div>

								<button class="btn btn-primary" type="submit">筛选</button>
								<a href="javascript:void(0);" onclick="exportOrder()" class="btn  btn-primary" >导出</a>
								<!--<a href="javascript:void(0);" onclick="importOrder()" class="btn  btn-primary" >导入</a>-->
								<!--<input id="file" type="file">-->
								<!--<button id="btn">上传</button>-->
								<script>
									$('#btn').click(function() {
										var formdata = new FormData();
										formdata.append("file", $('#file')[0].files[0]);
										$.ajax({
											type: "POST",
											url: "/admin/order/importexcel",
											data: formdata,
											contentType: false, // 不设置内容类型
											processData: false, // 不处理数据
											dataType: "json",
											success: function(data) {

												// 请求成功后要执行的代码

											},
											error: function(data) {

												// 请求失败后要执行的代码

											}
										});
									});
								</script>
							<div id="tab-1" class="tab-pane">
								<div class="panel-body">
									<div class="ibox-content-del">
											<div class="table-responsive">
												<table class="table table-hover products_table" >
													<thead>
													<tr>
														<th>订单号</th>
														<th>下单时间</th>
														<th>下单人姓名</th>
														<th>下单人手机号</th>
														<th>订单状态</th>
														<th>订单金额</th>
														<th>操作</th>
													</tr>
													</thead>
													<tbody>
													{foreach name="order_list" item="vo"}
													<tr>
														<td >{$vo.order_id}</td>
														<td >{$vo.create_time}</td>
														<td >{$vo.name}</td>
														<td >{$vo.tel}</td>
														<td >{$vo.state}</td>
														<td >{$vo.price}</td>
														<td>
															<a  href="{:url('Order/detail',array('order_id'=>$vo['id']))}" class="btn btn-primary btn-sm" title="查看详情">详情</a>
															{eq name="vo.state" value="待付款"}
															{eq name="vo.paid" value="0"}
															{eq name="vo.weight" value=""}
															<a href="javascript:void(0);" class="btn btn-primary btn-sm j-editClass" data-id="{$vo.id}" title="填写价格和重量" >审核</a>
															{/eq}
															{/eq}
															{/eq}
															{eq name="vo.state" value="已发货"}
															<a href="javascript:void(0);" class="btn btn-primary btn-sm j-editClass2" data-id="{$vo.id}" onclick="J_sure_order(this)" title="确认签收" >确认签收</a>
															{/eq}
															{eq name="vo.state" value="待发货"}
															{eq name="vo.paid" value="1"}
															<a href="javascript:void(0);" class="btn btn-primary btn-sm j-editClass1" data-id="{$vo.id}">发货</a>
															{/eq}
															{/eq}
														</td>
													</tr>
													{/foreach}
													{empty name="order_list"}
													<tr><td colspan="10" style="text-align: center;">暂无数据</td></tr>
													{/empty}
													</tbody>
												</table>
											</div>

										<div class="page">
											{$order_list->render()}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal" id="myModal21" tabindex="-1" role="dialog" aria-hidden="true" >
		<div class="modal-dialog">
			<div class="modal-content animated bounceInRight">
				<div class="modal-header" style="padding: 10px 15px;">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
					</button>
					<h5 class="model_tit">订单发货</h5>
				</div>

				<div class="modal-body modal-prodot-body">

					<div class="model_body">
						<div class="model_address">

							<form class="form-horizontal">

								<div class="is_check_sure" style="display: block">
									<!--<div class="form-group clearfix">-->
										<!--<label class="col-sm-2 control-label">选择物流</label>-->

										<!--<div class="col-sm-9">-->
											<!--<div class="row">-->
												<!--<div class="col-sm-6">-->
													<!--<select id="wuliu_name" class="form-control m-b" name="wuliu_name">-->
														<!--<option value='0'>请选择物流...</option>-->
													<!--</select>-->
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->

									<div class="form-group clearfix">
										<label class="col-sm-2 control-label">物流单号</label>
										<div class="col-sm-6">
											<input type="text" id="wuliu_nums" class="form-control" >
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary sendExpress">确定</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true" style="">
		<div class="modal-dialog">
			<div class="modal-content animated bounceInRight">
				<div class="modal-header" style="padding: 10px 15px;">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
					</button>
					<h5 class="model_tit">填写重量</h5>
				</div>

				<div class="modal-body modal-prodot-body">

					<div class="model_body">
						<div class="model_address">

							<form class="form-horizontal">
								<div class="form-group clearfix">
									<label class="col-sm-2 control-label">重量</label>

									<div class="col-sm-6">
										<input type="text" class="form-control"  id="action_note1" cols="100" rows="4" style="text-align: left;resize:none;margin-bottom: 10px" >
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" onclick ="return orderAction1()" >确定</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal" id="refusetuikuan" tabindex="-1" role="dialog" aria-hidden="true" style="">
		<div class="modal-dialog">
			<div class="modal-content animated bounceInRight">
				<div class="modal-header" style="padding: 10px 15px;">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
					</button>
					<h5 class="model_tit">退款</h5>
				</div>

				<div class="modal-body modal-prodot-body">

					<div class="model_body">
						<div class="model_address">

							<form class="form-horizontal">
								<div class="form-group clearfix">
									<label class="col-sm-3 control-label"><span class="colorRed"></span>服务类型：</label>
									<div class="col-sm-6" style="margin-top: 7px;"><span class="fi-help-text" id="refund_type"></span></div>
								</div>
								<div class="form-group clearfix">
									<label class="col-sm-3 control-label"><span class="colorRed"></span>支付方式：</label>
									<div class="col-sm-6" style="margin-top: 7px;"><span class="fi-help-text" id="rtk_pay_way_name"></span></div>
								</div>

								<div class="form-group clearfix" id="refund_hw_status_text" style="display:none;">
									<label class="col-sm-3 control-label"><span class="colorRed"></span>是否收到货：</label>
									<div class="col-sm-6" style="margin-top: 7px;">
										<span class="fi-help-text" id="refund_hw_status"></span>
									</div>
								</div>

								<div class="form-group clearfix" id="show_open_price">
									<label class="col-sm-3 control-label"><span class="colorRed"></span>退款金额：</label>
									<div class="col-sm-6" style="margin-top: 7px;"><span class="fi-help-text" id="rtk_pay_price"></span></div>
								</div>

								<div class="form-group clearfix">
									<label class="col-sm-3 control-label"><span class="colorRed"></span>原因：</label>
									<div class="col-sm-6" style="margin-top: 7px;">
										<span class="fi-help-text" id="refund_reason">
										</span>
									</div>
								</div>


								<div class="form-group clearfix">
									<label class="col-sm-3 control-label"><span class="colorRed"></span>原因说明：</label>
									<div class="col-sm-6" style="margin-top: 7px;">
										<span class="fi-help-text" id="refund_instructions">
										</span>
									</div>
								</div>

								<div class="form-group clearfix">
									<label class="col-sm-3 control-label"><span class="colorRed"></span>申请时间：</label>
									<div class="col-sm-6" style="margin-top: 7px;">
										<span class="fi-help-text" id="refund_add_time" style="margin-top: 7px;">
										</span>
									</div>
								</div>

								<div class="form-group clearfix">
									<label class="col-sm-3 control-label"><span class="colorRed"></span>拒绝原因：</label>
									<div class="col-sm-6" style="margin-top: 7px;">
										<textarea rows="3" cols="40" style="padding: 5px" name="refuse_refund_reason"></textarea>
										<span class="fi-help-text"></span>
									</div>
								</div>
								<input type="hidden" value="" id="new_refuse_order_no" />
								<input type="hidden" value="" id="new_refuse_order_id" />

							</form>
						</div>
					</div>
				</div>


				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-primary" onclick="J_refuse_refund_submit(this)">拒绝</a>
					<a href="javascript:;" class="btn btn-primary" onclick="TY_refuse_refund_submit(this)" id="TY_refuse_refund_submit">同意</a>
					<!--					<button type="button" class="btn btn-primary sendExpress">确定</button>-->
				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal" id="tuikuan" tabindex="-1" role="dialog" aria-hidden="true" style="">
		<div class="modal-dialog">
			<div class="modal-content animated bounceInRight">
				<div class="modal-header" style="padding: 10px 15px;">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
					</button>
					<h5 class="model_tit">退款</h5>
				</div>

				<div class="modal-body modal-prodot-body">

					<div class="model_body">
						<div class="model_address">

							<form class="form-horizontal">

								<div class="form-group clearfix">
									<label class="col-sm-3 control-label"><span class="colorRed"></span>订单编号：</label>
									<div class="col-sm-6" style="margin-top: 7px;"><span class="fi-help-text" id="tk_order_no"></span></div>
								</div>
								<div class="form-group clearfix">
									<label class="col-sm-3 control-label"><span class="colorRed"></span>支付方式：</label>
									<div class="col-sm-6" style="margin-top: 7px;"><span class="fi-help-text" id="tk_pay_way_name"></span></div>
								</div>


								<div class="form-group clearfix" id="show_open_price">
									<label class="col-sm-3 control-label"><span class="colorRed"></span>支付金额：</label>
									<div class="col-sm-6" style="margin-top: 7px;"><span class="fi-help-text" id="tk_pay_price"></span></div>
								</div>

								<div class="form-group clearfix">
									<label class="col-sm-3 control-label"><span class="colorRed"></span>退款金额：</label>
									<div class="col-sm-6" style="margin-top: 7px;">
										<input type="text" value="" class="input" name="refund_money"
											   id="xstk"
											   maxlength="10"
											   onkeyup="this.value=this.value.replace(/[^\d\.]+/g,'')"
											   onblur="this.value=this.value.replace(/(\.\d{2})\d*$/,'\$1')">
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>


				<div class="modal-footer">
					<input type="hidden" value="" id="tk_order_id" />
					<a href="javascript:;" class="btn btn-primary" onclick="J_Submit_refund(this)">退款</a>
					<!--					<button type="button" class="btn btn-primary sendExpress">确定</button>-->
				</div>
			</div>
		</div>
	</div>
</div>
<script src="home_url/js/jquery.min.js"></script>
<script src="home_url/js/bootstrap.min.js"></script>
<script src="home_url/js/plugins/peity/jquery.peity.min.js"></script>
<script src="home_url/js/content.min.js"></script>
<script src="home_url/js/plugins/iCheck/icheck.min.js"></script>
<script src="home_url/js/peity-demo.min.js"></script>
<script src="home_url/js/plugins/layer/laydate/laydate.js"></script>
<script>

	$(document).ready(function () {
		$('input[name="is_check"]').click(function () {
			if ($(this).val() == 1) {
				$('.is_check_sure').show();
				$('.is_check_false').hide();
			} else {
				$('.is_check_sure').hide();
				$('.is_check_false').show();
			}
		});
		//处理
		$(".j-editClass1").click(function(){
			$("#wuliu_nums").val("");
			//$('#wuliu_name').empty();
			id = $(this).attr("data-id");
			$('#myModal21').show();
			//$('#albums-overlay').show();
		});
		$(".close").click(function(){
			//id = $(this).attr("data-id");
			$('.inmodal').hide();
			//$('#albums-overlay').show();
		});


		$('.table_l').parents('.row').css('max-height', $(document).height()*0.6)
		$('.table_l').css('max-height', $(document).height()*0.6)
		$('.table_r').css('max-height', $(document).height()*0.6)
		var i = 2;
		$('.table_r').hover(function () {
			i = 1;
		},function () {
			i = 0;
		});
		$('.table_l').hover(function () {
			i = 2;
		},function () {
			i = 0;
		});
		$(".table_r").scroll(function(event) {
			if (i == 1) {
				$(".table_l").scrollTop( $(this).scrollTop());
			}
		});
		$(".table_l").scroll(function(event) {
			if (i == 2) {
				$(".table_r").scrollTop( $(this).scrollTop());
			}
		});
		var start = {
			elem: "#start",
			format: "YYYY-MM-DD",
			max: laydate.now(),
			min: "2000-01-01",
			istime: true,
			istoday: false,
			choose: function (datas) {
				end.min = datas;
				end.start = datas
			}
		};
		var end = {
			elem: "#end",
			format: "YYYY-MM-DD",
			// max: laydate.now(),
			// min: laydate.now(),
			istime: true,
			istoday: false,
			choose: function (datas) {
			}
		};
		laydate(start);
		laydate(end);

		$(".checkbox").on('click', function (event) {
			var i = 1;
			$(".checkbox").each(function(){
				if(true != $(this).is(':checked')){
					i = 0;
				}
			});
			if (i == 1) {
				$('td.pro_lasttd input').prop('checked', true);
			} else {
				$('td.pro_lasttd input').prop('checked', false);
			}
		});
		$('td.pro_lasttd input').on('click', function(event){
			if(true == $(this).is(':checked')){
				$('.checkbox').prop('checked', true);
			} else {
				$('.checkbox').prop('checked', false);
			}
		});
	});


	//$('.editfenlei').hide();
	var id ='';
	//处理
	$(".j-editClass").click(function(){
		$("#wuliu_nums").val("");
		//$('#wuliu_name').empty();
		id = $(this).attr("data-id");
		$('#myModal2').show();
		//$('#albums-overlay').show();
	});


	function orderAction1() {
		var action_note = $('#action_note1').val();
		if (!action_note) {
			alert('请填写重量');
			return false;
		}
		console.log(action_note);
		var action_price = $('#action_price').val();
		var order_id = id;
		var sure_status = $('input[name="sure_status"]:checked').val();
		$.ajax({
			type: "POST",
			url: "{:url('Order/supply_order')}",
			data: {
				weight:action_note,
				order_id:order_id,
			},
			dataType: "json",
			success: function(g){
				if(g.status==1){
					dialog.showTips(g.msg, '', 1);
				}else{
					if (g.data.url) {
						dialog.showTips(g.msg, '', g.data.url)
					} else {
						alert(g.msg);
					}
				}
			}
		});
	}
	$(".close").click(function(){
		//id = $(this).attr("data-id");
		$('.inmodal').hide();
		//$('#albums-overlay').show();
	});
	$('.sendExpress').click(function(){
		var wuliu_name = $('#wuliu_name').val();
		var wuliu_nums = $('#wuliu_nums').val();

		// if(wuliu_name == 0){
		// 	alert('请选择物流!');
		// 	return false;
		// }

		if(wuliu_nums == ''){
			alert('物流单号为空!');
			return false;
		}

		$.ajax({
			type: "POST",
			url: "{:url('Order/delivery_end')}",
			data: {
				express_name:wuliu_name,
				express_no:wuliu_nums,
				id:id
			},
			dataType: "json",
			success: function(g){
				if(g.status==1){
					alert(g.msg);
					setTimeout(function(){
						window.location.reload();
					},1500);
					//window.location.reload();
				}else{
					alert(g.msg);
					setTimeout(function(){
						window.location.reload();
					},1500);
					//window.location.reload();
				}
			}
		});
	});



	/*拒绝退款 1*/
	function J_refuse_refund(obj) {
		var refund_type = $(obj).attr('data-refund_type');
		var hw_status = $(obj).attr('data-hw_status');
		if(refund_type == 1){
			var refund_type_name = "退货退款";
		}else if(refund_type == 2){
			var refund_type_name = "仅退款";
			$("#refund_hw_status_text").css("display","block");
			$("#TY_refuse_refund_submit").css("display","none");
			if(hw_status == 1){
				$("#refund_hw_status").text("已收到")
			}else{
				$("#refund_hw_status").text("未收到")
			}
		}else if(refund_type == 3){
			var refund_type_name = "换货";
			$("#show_open_price").css("display","none");
		}
		$('#refund_type').text(refund_type_name);
		$('#rtk_pay_way_name').text($(obj).attr('data-pay_way_name'));
		$('#rtk_pay_price').text($(obj).attr('data-pay_price'));
		$('#refund_reason').text($(obj).attr('data-refund_reason'));
		$('#refund_instructions').text($(obj).attr('data-refund_instructionse'));
		$('#refund_pic1').attr("src",$(obj).attr('data-refund_pic1'));
		$('#refund_pic2').attr("src",$(obj).attr('data-refund_pic2'));
		$('#refund_pic3').attr("src",$(obj).attr('data-refund_pic3'));
		$('#refund_pic4').attr("src",$(obj).attr('data-refund_pic4'));
		$('#refund_pic5').attr("src",$(obj).attr('data-refund_pic5'));
		$('#refund_add_time').text($(obj).attr('data-refund_add_time'));
		$('#new_refuse_order_no').val($(obj).attr('data-order_no'));
		$('#new_refuse_order_id').val($(obj).attr('data-order_id'));
		$('#albums-overlay').show();
		$('#refusetuikuan').show();
	}

	/*提交拒绝退款 1*/
	function J_refuse_refund_submit(obj) {
		var post = {};
		id = $(this).attr("data-id");
		console.log(obj);
		post.id = id;
		post.order_no = $('#rtk_order_no').text();        //订单号
		post.refuse_refund_reason = $("textarea[name=refuse_refund_reason]").val();
		dialog.showTips("确认已签收吗?", "firm", function () {
			$.post("{:url('Order/sure_order')}", post, function (result) {
				dialog.showTips(result.msg, "", '1');
				return false;
			}, "json")
		})
	}
	/*确认签收 2*/
	function J_sure_order(obj) {
		var post = {};
		var f2 = $(obj).attr('data-id');
		console.log(f2);
		post.id = f2;        //订单号
		post.refuse_refund_reason = $("textarea[name=refuse_refund_reason]").val();
		dialog.showTips("确认已签收吗?", "firm", function () {
			$.post("{:url('Order/sure_order')}", post, function (result) {
				dialog.showTips(result.msg, "", '1');
				return false;
			}, "json")
		})
	}
	/*提交拒绝退款 2*/



	/*线上退款 1*/
	function J_refund(obj){
		$('#tk_order_no').text($(obj).attr('data-order_no'));
		$('#tk_pay_way_name').text($(obj).attr('data-pay_way_name'));
		$('#tk_pay_price').text($(obj).attr('data-pay_price'));
		$("#xstk").val($(obj).attr('data-pay_price'));
		$("#tk_order_id").val($(obj).attr('data-order_id'));
		$('#albums-overlay').show();
		$('#tuikuan').show();
	}
	/*线上退款 2*/

	/*提交线上退款 1*/
	function J_Submit_refund(obj) {
		var post={};
		post.pay_price       = parseFloat($("#tk_pay_price").text());
		post.refund_money    = parseFloat($("input[name=refund_money]").val());
		post.order_no        = $('#tk_order_no').text();
		post.refund_order_id    = $("#tk_order_id").val();
		/*post.refund_password        = $('input[name=refund_password]').val();
		if (!post.refund_password) {
			dialog.showTips('请填写操作密码', "warn");
			return false;
		}*/
		if (!post.refund_money) {
			dialog.showTips('请填写退款金额', "warn");
			return false;
		}
		if (post.refund_money > post.pay_price) {
			dialog.showTips('退款金额不能大于支付金额', "warn");
			return false;
		}
		dialog.showTips("确认退款吗?", "firm", function () {
			$.post("{:url('Order/orderRefund')}", post, function (result) {
				dialog.showTips(result.msg, "", '1');
				return false;
			}, "json")
		})

	}
	/*提交线上退款 2*/

	function J_refund_syn(obj){
		var refund_order_syn = $(obj).attr('data-return_order_syn');
		var refund_express_company = $(obj).attr('data-refund_express_company');
		var refund_express_ma = $(obj).attr('data-refund_express_ma');
		$('#refund_order_syn').text(refund_order_syn);
		$('#refund_express_company').text(refund_express_company);
		if (refund_order_syn && refund_express_company) {
			$.post("{:url('Order/index')}", {refund_order_syn:refund_order_syn,refund_express_ma:refund_express_ma}, function (result) {
				if (result[0] == 1) {
					var html = '';
					$.each(result[1],function(key, val){
						html += '<div class="infor1 ">\n' +
								'<div class="infor1_bodd">\n' +
								'<h5>'+ val.context +'</h5>\n' +
								'<p>'+ val.time +'</p>\n' +
								'</div>\n' +
								'<div class="infor1_on"></div>\n' +
								'</div>';
					});
					$('#exp_wul').html(html);
				}
			}, "json");
		}
		$('#albums-overlay').show();
		$('#refusesyn').show();

	}


	/*换货完成*/
	function HH_refuse_submit(obj) {
		var post = {};
		post.order_id = $(obj).attr('data-order_id');
		post.order_no = $(obj).attr('data-order_no');
		dialog.showTips("确认完成吗?", "firm", function () {
			$.post("{:url('Order/refund_consent_wc')}", post, function (result) {
				dialog.showTips(result.msg, "", '1');
				return false;
			}, "json")
		})
	}
	/*提交同意 1*/
	function TY_refuse_refund_submit(obj) {
		var post = {};
		post.order_id = $('#new_refuse_order_id').val();
		post.order_no = $('#new_refuse_order_no').val();
		dialog.showTips("确认同意吗?", "firm", function () {
			$.post("{:url('Order/refuse_refund_consent')}", post, function (result) {
				dialog.showTips(result.msg, "", '1');
				return false;
			}, "json")
		})
	}

	function exportOrder () {
		var url = "{:url('Order/outexcel')}?status={$status}";
		var name = $('#exampleInputEmail2').val();
		var order_no = $('#exampleInputPassword2').val();
		var starttime = $('#start').val();
		var endtime = $('end').val();
		if (name) {
			url += "&name="+name;
		}
		if (order_no) {
			url += "&order_no="+order_no;
		}
		if (starttime) {
			url += "&starttime="+starttime;
		}
		if (endtime) {
			url += "&endtime="+endtime;
		}
		window.location.href = url;

	}
</script>
</body>
</html>
